<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>


<link href="/assets/css/misPublicaciones.css" rel="stylesheet"/>
<script src="/assets/js/jquery-ui.js"></script>
<link href="/assets/summernote/summernote-bs4.min.css" rel="stylesheet">
<script src="/assets/summernote/summernote-bs4.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" />
<style>

    input[type="radio"] {
        display: none;
        /*position: absolute;top: -1000em;*/
    }

    label {
        color: grey;
        font-size: 2rem;
    }

    .clasificacion {
       direction: rtl;/* right to left */
      unicode-bidi: bidi-override;/* bidi de bidireccional */
    }

  @media(max-width:1050px){
    .clasificacion label{
      margin-left: -.5rem;
    }
  }



    input[type="radio"]:checked~label {
        color: orange;
    }
    #calificar_modal .btn-primary {
    background-color: #06cc60;
    border-color: #06cc60;
    color: white;
    box-shadow: none;
}
</style>
<script>
  $(function () {
     
  })
</script>
{{#if msg}}
<label id="msgs">{{msg}}</label>


{{/if}}

<div class="page-container">
  <div class="main-content">
    <div class="section__content section__content--p30">
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="overview-wrap">
                <h2 class="title-1 pb-3">
                  Mis calificaciones
                </h2>
              </div>
            </div>
          </div>

          {{#if miscalificaciones}}
          <div class="col-md-12">
            <div class="card-blank">
              <div class="card-body">
                <div class="float-right" style="margin-bottom: 20px;">
                  {{!-- <a href="/crear_publicacion">
                    Crear publicación
                  </a> --}}
                </div>
                <table class="table dataTable tabla_" id="tabla_">
                  <thead>
                    <tr>
                      <th>

                      </th>
                      <th>
                        Puntuación
                      </th>
                      <th>
                        Comentario
                      </th>
                       <th>
                        Fecha
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each calificaciones as |calificacion i|}}
                    <tr>
                      <td>
                        
                      </td>
                      <td>
                        <input id="calificacion_result{{i}}" value="{{valor}}" class="d-none" />
                         <p class="clasificacion">
                        <input id="radio11{{i}}" type="radio" class="modal_clas" /><label  class="label modal_clas">★</label>
                        <input id="radio21{{i}}" type="radio" class="modal_clas" /><label  class="label modal_clas">★</label>
                        <input id="radio31{{i}}" type="radio" class="modal_clas" /><label  class="label modal_clas">★</label>
                        <input id="radio41{{i}}" type="radio" class="modal_clas" /><label class="label modal_clas">★</label>
                        <input id="radio51{{i}}" type="radio" class="modal_clas" /><label  class="label modal_clas">★</label>
                    </p>
                    <script type="text/javascript">
    $(document).ready(function () {        
switch ($('#calificacion_result{{i}}').val()){
    case '1':
$('#radio51{{i}}').attr('checked', true)
    break;
    case '2':
$('#radio41{{i}}').attr('checked', true)
    break;
    case '3':
$('#radio31{{i}}').attr('checked', true)
    break;
    case '4':
$('#radio21{{i}}').attr('checked', true)
    break;
    case '5':
    $('#radio11{{i}}').attr('checked', true)
    break;

}


    });
</script>
                        {{!-- {{valor}} --}}
                      </td>
                      <td>
                        {{comentario}}
                      </td>
                      <td>
                       {{#formatoFecha2 createdAt}}  {{/formatoFecha2}}
                      </td>
                    </tr>
                    {{/each}}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {{/if}}
      </main>
    </div>

  </div>
</div>