<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  $(function () {
  
		///----TABLA Ventas
const tabla_configuraciones = document.getElementById('tabla_configuraciones')

if(tabla_configuraciones){
var nombre = document.getElementById('nombre_config').innerHTML
console.log(nombre)
if (nombre == "Comisión"){
	$('.Comisión').attr('style','pointer-events: none;')
	$('.fa-check-circle>Comisión').removeAttr('style')
	$('.fa-ban>Comisión').removeAttr('style')
}
  $('.confirmar').on('click', (e)=>{
    let id = e.target.classList.item(2)
	//let nombre = e.target.classList.item(3)
    let billetera = e.target.classList.item(4)
	console.log(nombre)
	if (nombre == "Confirmada"){
		var titulo="Realizada";
		var texto="Seguro desea confirmar la venta indicada como 'Realizada'?";

	}else{
		var titulo="Confirmar";
		var texto="Seguro desea confirmar la venta indicada?";
	}
    Swal.fire({
  title: titulo,
  text: texto,
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: titulo
}).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/confirmar_venta/${id}/${nombre}/${billetera}`;
  }
})
  })

  $('.cancelar').on('click', (e)=>{
    if (nombre == "Comisión"){
   Swal.fire('No es posible eliminar la comisión, solo puede editarla')
}
    let id = e.target.classList.item(2)
    let tipo = e.target.classList.item(3)
    Swal.fire({
  title: 'Cancelar',
  text: "Seguro desea cancelar la venta indicada!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: 'Eliminar'
}).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/cancelar_venta/${id}/${tipo}`;
  }
})
  })
}


  })
</script>
{{#if msg}}
<label id="msgs">{{msg}}</label>


{{/if}}

<div class="page-container">
  <div class="main-content">
    <div class="section__content section__content--p30">
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="overview-wrap">
                <h2 class="title-1">
                  {{pageName}}
                </h2>
              </div>
            </div>
          </div>

          {{#if config}}
          <div class="col-md-12">
            <div class="card-blank">
              <div class="card-body">
                <div class="float-right" style="display: none;">
                  <a href="/crear_configuraciones">
                    Crear configuracion
                  </a>
                </div>
                 
                <table class="table dataTable" id="tabla_configuraciones">
                  <thead>
                    <tr>
                      <th>
                        Id
                      </th>
                      <th>
                        Nombre
                      </th>
                      <th>
                        Estado
                      </th>
                      <th>
                        Valor
                      </th>
                      <th align="center">
                        Opciones
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each configuraciones as |configuracion i|}}
                    <tr>
                      <td>
                        {{configuracion.id}}
                      </td>
                      <td id="nombre_config">{{configuracion.nombre}}</td>
                      <td>
                        <span>
                          <strong style="color: {{#ColorSucursal configuracion.estado}}{{/ColorSucursal}};">
                            {{configuracion.estado}}
                          </strong>
                        </span>
                      </td>
                      <td>
                        {{configuracion.valor}}
                      </td>
                      <td align="center">
                        <div class="table-data-feature">
                          <a class="item" href="/editar_configuraciones/{{configuracion.id}}" data-toggle="tooltip"
                            data-placement="top" title="Editar" id="">
                            <i class="fas fa-edit"></i>
                          </a>
                         <!-- <a class="item delete {{configuracion.id}} {{configuracion.nombre}}" href="#"
                            id="delete_configuracion" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                            <i class="fas fa-trash-alt {{configuracion.id}} {{configuracion.nombre}}"></i>
                          </a>-->
                        </div>
                      </td>
                    </tr>
                    {{/each}}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {{/if}}

          {{#if crear_config}}
          <div class="row" id="crear_configuracion">

            <div class="card-blank" style="width: 65%;margin-left: 15px; margin-bottom: 10px;">
              <div class="overview-wrap">
                <h2 class="title-1">Crear configuracion</h2>
                <div class="float-right"><a href="/crear_configuraciones" id="volver_configuracion"> Volver </a></div>
              </div>
              <form action="/crear_configuraciones" method="post" id="form_miconfig">

                <div class="card-body">
                  <input type="text" class="form-control" name="userid" hidden value="{{user.id}}" />

                  <div class="form-row">
                    <div class="form-group col-md-6 mb-1">
                      <label for="inputEmail4">Nombre</label>
                        <select id="inputState" class="form-control" name="configuracion">
                        <option value="Comisión" selected>Comisión </option>
                      </select>
                    </div>
                      <div class="form-group col-md-6">
                      <label for="inputState">Estado</label>
                      <select id="inputState" class="form-control" name="estado">
                        <option selected value="Activa">Activa </option>
                        <option value="Inactiva">Inactiva</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6 mb-1">
                      <label for="inputEmail4">Valor</label>
                      <input type="text" class="form-control" id="titulo" placeholder="Valor" name="valor" required>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn_submit">Guardar Cambios</button>
                </div>
              </form>
            </div>

          </div>
          {{/if}}
           {{#if editar_config}}
        <div class="row" id="editar_configuracion">

            <div class="card-blank" style="width: 65%;margin-left: 15px; margin-bottom: 10px;">
              <div class="overview-wrap">
                <h2 class="title-1">Editar configuracion</h2>
                <div class="float-right"><a href="/configuraciones" id="volver_configuracions"> Volver </a></div>
              </div>
              <form action="/editar_configuraciones" method="post" id="form_mis_configuracions">

                <div class="card-body">
                  <input type="text" class="form-control" name="id_configuracion" hidden value="{{configuracion_edit.id}}" />

                  <div class="form-row">
                    <div class="form-group col-md-6 mb-1">
                      <label for="inputEmail4">Nombre</label>
                      <input type="text" class="form-control" name="configuracion"value="{{configuracion_edit.nombre}}" readonly>
                      
                    </div>
                      <div class="form-group col-md-6">
                      <label for="inputState">Estado</label>
                      
                      <select id="inputState" class="form-control" name="estado">
                        <option selected value="{{configuracion_edit.estado}}">{{configuracion_edit.estado}} </option>
                        <option selected value="Activa">Activa </option>
                        <option value="Inactiva">Inactiva</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6 mb-1">
                      <label for="inputEmail4">Valor</label>
                      <input type="text" class="form-control" id="titulo" placeholder="Nombre" name="valor" required value="{{configuracion_edit.valor}}">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn_submit">Guardar Cambios</button>
                </div>
              </form>
            </div>

          </div>
          {{/if}}
        </div>
      </main>
    </div>

  </div>
</div>