<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
  @media(max-width:1279px){
  .card-body .col-md-12{
      overflow: scroll !important;
    }
        .float-right a{
      color: #06cc60;
      font-size: .8rem;
    }
  }
  @media(max-width:991px){
        .main-content{
      padding-top: 0;
    }
  }
       .btn-primary{
    background-color: #06cc60;
    color: white !important;
    border-color: #06cc60;
  }
  .btn-primary:hover{
    background-color: #1f7e4a;
    color: white;
    border-color: #1f7e4a;
    box-shadow: none;
  }
</style>
<script>
  function Askdelete(id, tipo, link){
	Swal.fire({
  title: 'Eliminar',
  text: "Seguro desea eliminar el "+ tipo +" indicado!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: 'Eliminar'
}).then((result) => {
  if (result.isConfirmed) {
	  window.location.href = '/'+ link +'/'+id;
    Swal.fire(
      'Eliminado!',
      '',
      'success'
    )
  }
})
}
  $(function () {
$('#cupon_especial').on('change',function() {
    if ($('#cupon_especial').is(":checked")== true){
      $('#cupon_especial').val('SI')
    }else{
      console.log('no')
      $('#cupon_especial').val('0')
    }
  })
  })
</script>
{{#if msg}}
<label id="msgs">{{msg}}</label>


{{/if}}
<style>
  [type=checkbox], [type=radio]{
    color: var(--color-verde);
  }
  [type=checkbox]:focus, [type=radio]:focus{
        --tw-ring-color:     color: var(--color-verde);
        --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--color-verde);
  }
</style>
<div class="page-container">
  <div class="main-content">
    <div class="section__content section__content--p30">
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="overview-wrap">
                <h2 class="title-1 pb-3">
                  {{pageName}}
                </h2>
              </div>
            </div>
          </div>

          {{#if cupones}}
          <div class="col-md-12">
            <div class="card-blank">
              <div class="card-body">
                 
              <div class="row">
                <div class="col-md-12">
                                  <div class="float-right">
                  <a href="/crear_cupones">
                    Crear cupones
                  </a>
                </div>
                </div>
                <div class="col-md-12">
                                  <table class="table dataTable" id="tabla_">
                  <thead>
                    <tr>
                      <th class="text-xs-center">
									Tipo cupón
								</th>
								<th class="text-xs-center">
									Valor
								</th> 
								<th class="text-xs-center">
									Nombre cupón
								</th>
								<th class="text-xs-center">
									Fecha creación
								</th>
								<th class="text-xs-center">
									Fecha final
								</th> 
								<th class="text-xs-center">
									Cantidad actual
								</th>								
								<th class="text-xs-center">
									Estado
								</th> 
                      <th align="center">
                        Opciones
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each cupones_act as |cupon i|}}
                    <tr>
                     <td>{{cupon.tipo}}</td>
				<td>{{cupon.valor}}</td>
				<td>{{cupon.nombre_cupon}}</td>
				<td>{{#formatoFecha2 cupon.fecha_inicio}}{{/formatoFecha2}}</td>
				<td>{{#formatoFecha2 cupon.fecha_final}}{{/formatoFecha2}}</td>
				<td>{{cupon.cantidad_actual}} / {{cupon.cantidad}}</td>				
				<td class="{{#estadoCupon cupon.fecha_final cupon.cantidad_actual}}{{/estadoCupon}}">{{#estadoCupon cupon.fecha_final cupon.cantidad_actual}}{{/estadoCupon}}</td>
				<td><div class="table-data-feature">
					<a class="item" onclick="Askdelete('{{cupon.id}}','cupón','borrar_cupon')" style="cursor: pointer;">
						<i class="fa fa-trash-alt"></i>
					</a>
					<a href="/edit_cupon/{{cupon.id}}" class="item">
						<i class="fa fa-pen"></i>
					</a>
					
				</div></td>
                    </tr>
                    {{/each}}

                  </tbody>
                </table>
                </div>
              </div>
              </div>
            </div>
          </div>
          {{/if}}

          {{#if crear_cupones}}
          <div class="row" id="crear_configuracion">

            <div class="card-blank" style="width: 65%;margin-left: 15px; margin-bottom: 10px;">
              <div class="overview-wrap p-4" style="padding-bottom: 0 !important;">
                <div class="float-right"><a href="/cupones" id="volver_configuracion"> Volver </a></div>
              </div>
              <form action="/crear_cupones" method="post" id="form_miconfig">

                <div class="card-body">
                  <input type="text" class="form-control" name="userid" hidden value="{{user.id}}" />

                  <div class="form-row">
                    <div class="form-group col-md-6 mb-1">
                      <label for="text">Nombre del cupón</label>
                <input type="text" class="form-control" id="nombre_cupon" name="nombre_cupon" placeholder="Nombre cupón"
            required />
                    </div>
                      <div class="form-group col-md-6">
                      <label for="text">Valor del cupón</label>
          <input type="text" class="form-control" id="valor_cupon" name="valor_cupon"
            placeholder="Valor del cupón" autocomplete="off" />
                    </div>
                    <div class="form-group col-md-6">
                       <label for="text">Cantidad</label>
          <input type="text" class="form-control" id="cantidad" name="cantidad"
            placeholder="Cantidad valida del mismo cupón" autocomplete="off" />
                    </div>
                      <div class="form-group col-md-6">
                      <label for="text">Tipo</label>
          <select class="form-control" id="tipo_cupon" name="tipo_cupon" required>
            <option value="descuento">Descuento</option>
            <option value="monetario">Monetario</option>

          </select>
                    </div>
                    <div class="form-group col-md-6 mb-1">
                       <label for="confirm-text">Fecha inicio</label>
          <input type="datetime-local" class="form-control" id="fecha_inicio" name="fecha_inicio"
            placeholder="Inicio de validez del cupon" autocomplete="off" />
                    </div>
                    <div class="form-group col-md-6 mb-1">
                     <label for="text">Fecha final</label>
          <input type="datetime-local" class="form-control" id="fecha_final" name="fecha_final"
            placeholder="Fecha finalización" autocomplete="off" />
                    </div>
                    <div class="form-group col-md-6 mb-1">
                     <label for="text">Cupón de uso único
          <input type="checkbox" id="cupon_especial" name="cupon_especial" autocomplete="off" value="0"/></label>
                    </div>
                  </div>
                  
                </div>
              
    <button type="submit" class="btn btn-primary btn_submit m-4" style="margin-top: 0px !important;">Guardar cambios</button>
  </form>
            </div>

          </div>
          {{/if}}
           {{#if editar_cupones}}
        <div class="row" id="editar_configuracion">

            <div class="card-blank" style="width: 65%;margin-left: 15px; margin-bottom: 10px;">
              <div class="overview-wrap m-4" style="margin-bottom: -1rem !important;">
                <div class="float-right"><a href="/cupones" id="volver_configuracions"> Volver </a></div>
              </div>
              <form action="/editar_cupones" method="post" id="form_mis_configuracions">

                <div class="card-body">
                  <input type="text" class="form-control" name="id" hidden value="{{parsed_cupon.id}}" />

                  <div class="form-row">
                    <div class="form-group col-md-6 mb-1">
                      <label for="text">Nombre del cupón</label>
                <input type="text" class="form-control" id="nombre_cupon" name="nombre_cupon" placeholder="Nombre cupón"
            required  value="{{parsed_cupon.nombre_cupon}}"/>
                    </div>
                      <div class="form-group col-md-6">
                      <label for="text">Valor del cupón</label>
          <input type="text" class="form-control" id="valor_cupon" name="valor_cupon"
            placeholder="Valor del cupón" autocomplete="off" value="{{parsed_cupon.valor}}" />
                    </div>
                    <div class="form-group col-md-6">
                       <label for="text">Cantidad</label>
          <input type="text" class="form-control" id="cantidad" name="cantidad"
            placeholder="Cantidad valida del mismo cupón" autocomplete="off" value="{{parsed_cupon.cantidad}}"/>
                    </div>
                      <div class="form-group col-md-6">
                      <label for="text">Tipo</label>
          <select class="form-control" id="tipo_cupon" name="tipo_cupon" required>
           
            <option  value="{{parsed_cupon.tipo}}" selected>{{parsed_cupon.tipo}}</option>
            <option disabled>Seleccione un tipo</option>
            <option value="descuento">Descuento</option>
            <option value="monetario">Monetario</option>

          </select>
                    </div>
                    <div class="form-group col-md-6 mb-1">
                       <label for="confirm-text">Fecha inicio</label>
          <input type="datetime-local" class="form-control" id="fecha_inicio" name="fecha_inicio"
            placeholder="Inicio de validez del cupon" autocomplete="off" value="{{parsed_cupon.fecha_inicio}}"/>
                    </div>
                    <div class="form-group col-md-6 mb-1">
                     <label for="text">Fecha final</label>
          <input type="datetime-local" class="form-control" id="fecha_final" name="fecha_final"
            placeholder="Fecha finalización" autocomplete="off" value="{{parsed_cupon.fecha_final}}"/>
                    </div>
                    <div class="form-group col-md-6 mb-1">
                     <label for="text">Cupón de uso unico
          <input type="checkbox"  id="cupon_especial" name="cupon_especial" autocomplete="off" value="0"/></label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn_submit mt-4">Guardar cambios</button>
                </div>
              </form>
            </div>

          </div>
          {{/if}}
        </div>
      </main>
    </div>

  </div>
</div>