<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
  iframe{
    width: 100%;
    height: 250px;
    border-radius: 20px;
  }
  .main-content{
    padding-top: 50px;
  }
  .row + .row{
    margin-top: 0px !important;
  }
  @media (min-width: 768px){
    .row + .row{
    margin-top: 0px !important;
    }
  }
  .video-das{
    width: 100%;
  }
  .btn-primary{
    background-color: #06cc60;
    color: white !important;
    border-color: #06cc60;
  }
  .btn-primary:hover{
    background-color: #1f7e4a;
    color: white;
    border-color: #1f7e4a;
    box-shadow: none;
  }
  @media(max-width:480px){
    .table td, .table th{
      padding: .3rem;
    }

  }
</style>
<div class="page-container">

  <div class="main-content">
    <div class="section__content section__content--p30">
      <main>
        <div class="container-fluid">
          <div>
            <div class="row mt-5">
              <div class="col-md-12">
                <div class="overview-wrap">
                  <h2 class="title-1">
                    Dashboard
                  </h2>
                </div>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-12">
                Perfil público: <a href="/negocios/{{user.name}}" target="_blank">https://{{host}}/negocios/{{user.name}}</a>
              </div>
              
              <div class="col-12">
                
                            <a class="btn btn-primary" href="/negocios/{{user.name}}" target="_blank">Ver mi perfil</a>
            <p id="p1" class="d-none"></p>
            <a class="btn btn-primary" data-bs-id="{{user.name}}" id="copyPerfil">Copiar link de mi perfil</a>
              </div>
            </div>
            <div class="row m-t-25">
              <div class="col-md-4">
                <div class="card-blank m-b-25">
                  <div class="card-header-blank">
                    <span class="card-title" style="font-size: 20px;">
                      <strong>
                        Balance
                      </strong>
                    </span>
                  </div>
                  <div class="card-body">
                    <h2>
                      S/ {{parsed_wallet.saldo}}
                    </h2>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-blank m-b-25">
                  <div class="card-header-blank">
                    <span class="card-title" style="font-size: 20px;">
                      <strong>
                        Ventas recientes
                      </strong>
                    </span>
                  </div>
                  <div class="card-body">
                    <h2>
                      {{contar_ventas}}
                    </h2>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card-blank m-b-25">
                  <div class="card-header-blank">
                    <span class="card-title" style="font-size: 20px;">
                      <strong>
                        Nuevas citas
                      </strong>
                    </span>
                  </div>
                  <div class="card-body">
                    <h2>
                     {{contar_citas}}
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-md-5">
                <div class="m-b-25">
                  {{!-- <div class="card-header-blank">
                    <span class="card-title" style="font-size: 20px;">
                      <strong>
                       Video
                      </strong>
                    </span>
                  </div> --}}
                  <div class="card-body p-0">
                    <div class="table-responsive table-responsive-data2">
                      <iframe src="https://www.youtube.com/embed/{{video.imagen}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{!-- <video class="video-das" src="../assets/uploads/{{video.imagen}}" controls width="450" height="240">
					Tu navegador no admite el elemento <code>video</code>.
				  </video>  --}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md">
                <div class="card-blank m-b-25">
                  <div class="card-header-blank">
                    <span class="card-title" style="font-size: 20px;">
                      <strong>
                        Publicaciones activas
                      </strong>
                    </span>
                  </div>
                  <div class="card-body">
                    <div class="table--no-card m-b-30">
                      <table class="table table-borderless">
                        <tbody>
                           {{#each publicaciones as |publicacion i|}}
                    <tr>
                      <td>
                        <center>
                          <img id="imageSelected1" class="img-fluid"
                            src="../assets/img_up/{{#fotoPrincipalPublicacion publicacion.fotos}}{{/fotoPrincipalPublicacion}}"
                            width="50px" />
                        </center>
                      </td>
                      <td>
                        {{publicacion.titulo}}
                      </td>
                      <td>
                        <span>
                          <strong style="color: {{#ColorSucursal publicacion.estado}}{{/ColorSucursal}};">
                            {{publicacion.estado}}
                          </strong>
                        </span>
                      </td>
                      <td>
                        S/ {{publicacion.precio}}
                      </td>
                      <td align="center">
                        <div class="table-data-feature">
                          <a class="item" href="/editar_publicacion/{{publicacion.id}}" data-toggle="tooltip"
                            data-placement="top" title="Editar" id="empleados_button">
                            <i class="fas fa-edit"></i>
                          </a>
                          <a class="item delete {{publicacion.id}} {{publicacion.tipo}}" href="#"
                            id="delete_publicacion" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                            <i class="fas fa-trash-alt {{publicacion.id}} {{publicacion.tipo}}"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    {{/each}}
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

<script>
  $(function(){
 $('#copyPerfil').on('click', function (e) {
   console.log(e.target.dataset.bsId)
      var id_ = e.target.dataset.bsId
    if (typeof id_ =="undefined") {
      return console.log(id_)
    }
    let direction_copy = location.host + `/negocios/${id_}`;
    $('#p1').text(direction_copy)
    copyToClipboard('#p1')

  });

  })
  function copyToClipboard(elemento) {
  var $temp = $("<textarea>")
  var brRegex = /<br\s*[\/]?>/gi;
  $("body").append($temp);
  $temp.val($(elemento).html().replace(brRegex, "\r\n")).select();
  document.execCommand("copy");
  $temp.remove();
  Swal.fire('Link copiado en el portapapeles')
  }
</script>