{{> header }}
<main>
<link href="/assets/css/home.css" rel="stylesheet"/>  		<!-- Jumbo Banner -->
	<div class="">
  


{{#if home}}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="  crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
    //CATEGORIAS SEARCH
jQuery(".select_cat").on('click',function(e){
	console.log(e.target)
    $(".select_cat").removeClass("active"); 
    $(e.target).addClass("active"); 
     //this.attr("class", "nav-link select_cat active");
  var categoria = $('.categoria');
   var buscando =  (e.target.innerHTML).toLowerCase();
   var item='';
   for( var i = 0; i < categoria.length; i++ ){
       item = $(categoria[i]).html().toLowerCase();
        for(var x = 0; x < item.length; x++ ){
            if(buscando == 'todas'){
                $(categoria[i]).parents('.item').show(); 
            }else if( buscando.length == 0 || item.indexOf( buscando ) > -1 ){
                $(categoria[i]).parents('.item').show(); 
                $(categoria[i]).parents('.item').attr('active');
            }else{
                 $(categoria[i]).parents('.item').hide();
            }
        }
   }
});
})
</script>
<div class="main">
    <section class="servicios pb-5" style="padding-top: 8rem;">
        <div class="container">
            <div class="grid-services">
                <div>
                    <div class="cont-servicios" id="buscar">
                        <div class="contianer" style="margin-top: 10px; margin-left:-15px;">
                            <div class="row">
                                <div class="col-4" style="padding: 0px !important;">
                                    <img src="../assets/img/ubicacion.svg" alt="" style="float: right;">
                                </div>
                                <div class="col-8" style="padding-left: 0px;">
                                    <h3>Buscar</h3>
                                    <p>
                                        Encuentra el servicio que necesitas de una manera fácil y rápida
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="cont-servicios" id="reservar">
                        <div class="contianer" >
                            <div class="row">
                                <div class="col-4" style="padding: 0px !important;">
                                    <img src="../assets/img/calendario.svg" alt="" style="float: right;">
                                </div>
                                <div class="col-8">
                                    <h3>Reservar</h3>
                                    <p>
                                        Realiza la reserva del servicio que haz elegido
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="cont-servicios" id="asistir">
                        <div class="contianer">
                            <div class="row">
                                <div class="col-4" style="padding: 0px !important;">
                                    <img src="../assets/img/notificacion.svg" alt="" style="float: right;">
                                </div>
                                <div class="col-8">
                                    <h3>Asistir</h3>
                                    <p>
                                        El servicio se realizará en el local o tu domicilio según tu elección
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="categorias pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 pb-5">
                    <h1 class="text-center mb-5">Categorías</h1>
                </div>
                <div class="col-md-4 pb-5">
                    <div class="cont-categorias">
                        <center><img src="../assets/img/rostro.svg" alt=""></center>
                        <h3 class="text-center">Rostro</h3>
                    </div>
                </div>
                <div class="col-md-4 pb-5">
                    <div class="cont-categorias">
                        <center><img src="../assets/img/cuerpo-entero.svg" alt=""></center>
                        <h3 class="text-center">Cuerpo entero</h3>
                    </div>
                </div>
                <div class="col-md-4 pb-5">
                    <div class="cont-categorias">
                        <center><img src="../assets/img/manos.svg" alt=""></center>
                        <h3 class="text-center">Manos</h3>
                    </div>
                </div>
                <div class="col-md-4 pb-5">
                    <div class="cont-categorias">
                        <center><img src="../assets/img/cabello.svg" alt=""></center>
                        <h3 class="text-center">Cabello</h3>
                    </div>
                </div>
                <div class="col-md-4 pb-5">
                    <div class="cont-categorias">
                        <center><img src="../assets/img/piernas.svg" alt=""></center>
                        <h3 class="text-center">Piernas</h3>
                    </div>
                </div>
                <div class="col-md-4 pb-5">
                    <div class="cont-categorias">
                        <center><img src="../assets/img/pies.svg" alt=""></center>
                        <h3 class="text-center">Pies</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contador pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1>+100</h1>
                    <p>servicios disponibles</p>
                </div>
                <div class="col-md-4">
                    <h1>+40</h1>
                    <p>negocios afiliados</p>
                </div>
                <div class="col-md-4">
                    <h1>+250</h1>
                    <p>clientes satisfechos</p>
                </div>
            </div>
        </div>
    </section>
    <section class="mas-nuevo pt-5 pb-5" id='verservicios'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center pt-5 pb-5">Lo más nuevo</h1>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-12">
                    <ul class="nav justify-content-center nav-home">
                        <li class="nav-item">
                            <a class="nav-link active select_cat" style="cursor: pointer;">Todas</a>
                        </li>
                        {{#each categorias as |categoria i|}}
                        <li class="nav-item">
                            <a class="nav-link select_cat" style="cursor: pointer;">{{categoria.nombre}}</a>
                        </li>
                         {{/each}}
                    </ul>
                </div>
            </div>
                <div class="row">
                    {{#each parse_publi as |publicacion i |}}
                <div class="col-md-3 col-6 item">
                    <div class="card-mas-nuevo">
                        <div class="img-card">
                            <img src="../assets/img_up/{{#fotoPrincipalPublicacion publicacion.fotos}}{{/fotoPrincipalPublicacion}}" alt="">
                        </div>
                        <div class="cont-card">
                            <span>{{categoria}}</span>
                            <label class="card-title nombres" hidden>{{publicacion.titulo}} </label>
                            <label class="card-title categoria" hidden>{{publicacion.categoria}} </label>
                            <div class="text-break">
                                <h6 class="mb-2">{{#Titulo titulo}}{{/Titulo}}</h6>
                            </div>
                            <div class="precio-buscador">
                                <span>
                                    S/ {{precio}}
                                </span>
                                <div class="buscador-vermas">
                                    <a href="/publicacion/{{id}}">
                                        Ver más
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          {{/each}}
    </div>
        </div>
    </section>

</div>
{{/if}}

{{#if publicaciones_landing}}
       <div class="container-fluid">
          <div>
             <div class="col-md-6">
                      <label for="inputState">Categoría</label>
                      <select id="categorias" class="form-control" name="categoria">
                        <option value="todas" selected>Todas</option>
                        {{#each categorias as |categoria i|}}
                        <option value="{{categoria.nombre}}">{{categoria.nombre}} </option>
                         {{/each}}
                         
                      </select>

                    </div>
            <div class="row" id="content">
              {{#each publicaciones as |publicacion i|}}
<div class="card item" style="width: 18rem;margin-right: 10px; border-radius: 20px;">
  <img class="card-img-top" src="../assets/img_up/{{#fotoPrincipalPublicacion publicacion.fotos}}{{/fotoPrincipalPublicacion}}" alt="Card image cap" style="border-radius: 20px;">
  <div class="card-body">
    <h5 class="card-title">{{publicacion.titulo}} </h5>
     <label class="card-title nombres" hidden>{{publicacion.titulo}} </label>
     <label class="card-title categoria" hidden>{{publicacion.categoria}} </label>
    <p class="card-text">S/ {{publicacion.precio}}</p>
    <a href="/publicacion/{{publicacion.id}}" class="btn btn-success">Ver más</a>
  </div>
</div>
              {{/each}}
            </div>
          </div>
        </div>
{{/if}}

    </div>
		<!-- End Jumbo Banner -->
	</main>
{{> footer }}