<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <style>
     .btn-primary{
    background-color: #06cc60;
    color: white !important;
    border-color: #06cc60;
  }
  .btn-primary:hover{
    background-color: #1f7e4a;
    color: white;
    border-color: #1f7e4a;
    box-shadow: none;
  }
  .cont-card h5{
    font-size: 1.07rem;
  }
th.headerSortUp { 
  background-image: url('assets/img/asc.gif') !important; 
      background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
 /* background-color: #3399FF; */
} 
 
table.tablesorter thead tr .header {
  background-image: url('assets/img/bg.gif');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
  }
  th.headerSortDown { 
  background-image: url('assets/img/desc.gif') !important;
      background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer; 
/* background-color: #3399FF; */
}
.linea-oculta{display: none;}
 @media (min-width: 768px){
    .row + .row{
    margin-top: 0px !important;
  }
 }
   @media(max-width:1024px){
    .row{
      width: 100% !important;
      margin-left: 0;
      margin-right: 0;
    }
    .card-blank{
      margin-left: 0 !important;
      width: 100% !important;
    }
    .card-blank h3{
      font-weight: 600;
    font-size: 1rem;
    padding: 0;
    float: left;
    }
    .float-right a{
      color: #06cc60;
      font-size: .8rem;
    }
    .float-right{
      margin-top: -4px;
    }
    #tabla__previous, #tabla__next{
      display: none;
    }
    .page-item.active .page-link{
      background-color: #06cc60;
      border-color:#06cc60;
    }
  }
  @media(max-width:1279px){
    .card-blank #tabla__wrapper .col-sm-12{
      overflow: scroll !important;
    }
    .card-blank #tabla__wrapper .col-sm-12::-webkit-scrollbar{
      height: 20px;
    }
        #copyPerfil{
      margin-top: 1rem;
    }
  }
</style>
<script>
   $(function(){
 $('#copyPerfil').on('click', function (e) {
   console.log(e.target.dataset.bsId)
      var id_ = e.target.dataset.bsId
    if (typeof id_ =="undefined") {
      return console.log(id_)
    }
    let direction_copy = location.host + `/negocios/${id_}`;
    $('#p1').text(direction_copy)
    copyToClipboard('#p1')

  });

  })
  function copyToClipboard(elemento) {
  var $temp = $("<textarea>")
  var brRegex = /<br\s*[\/]?>/gi;
  $("body").append($temp);
  $temp.val($(elemento).html().replace(brRegex, "\r\n")).select();
  document.execCommand("copy");
  $temp.remove();
  Swal.fire('Link copiado en el portapapeles')
  }
</script>

{{#if msg}}
<label id="msgs">{{msg}}</label>
{{/if}}
<div class="page-container">
  <div class="main-content">
    <div class="section__content section__content--p30">
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="overview-wrap">
                <h2 class="title-1 pb-3">
                  {{#if admin}}Negocios{{else}}Mis negocios{{/if}}
                </h2>
              </div>
            </div>
          </div>
          <div class="row">
            {{#if admin}}{{else}}
            <div class="card-blank" style="width: calc(65% - 15px);margin-left: 15px; margin-bottom: 25px;">
              <div class="card-body">
                <form action="/actualizar_negocio" method="post">
                  <input type="text" class="form-control" name="userid" value="{{user.id}}" hidden/>
                  <input type="text" class="form-control" name="link" value="{{user.name}}" hidden/>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Nombre</label>
                      <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre" name="nombre" value="{{user.name}}">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Teléfono</label>
                      <input type="text" class="form-control" id="inputPassword4" name="telefono" value="{{user.telefono}}">
                    </div>
                  </div>
                  <div class="form-group">
                     <label for="exampleFormControlTextarea1">Descripción</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descripcion">{{user.descripcion}}</textarea>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputState">Banco</label>
                      <select id="inputState" class="form-control" name="banco">
                        <option selected value="{{user.banco}}">{{user.banco}} </option>
                        <option value="BBVA">BBVA</option>
                        <option value="BCP">BCP</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputZip">Nro de Cuenta</label>
                      <input type="text" class="form-control" id="cuenta" name="cuenta" value="{{user.cuenta}}" maxlength="22">
                    </div>
                  </div>
                  <input type="text" id="profile_img_" class="" name='photo1' value="{{user.photo}}" hidden>
                  <button type="submit" class="btn btn-primary">Guardar cambios</button>
                  <a class="btn btn-primary" href="/negocios/{{user.name}}" target="_blank">Ver mi perfil</a>
                       <p id="p1" class="d-none"></p>
            <a class="btn btn-primary" data-bs-id="{{user.name}}" id="copyPerfil">Copiar link de mi perfil</a>
                 </form>
              </div>
            </div>
            <div class="card-blank" style="width: calc(34% - 15px); margin-left: 10px; margin-bottom: 25px;">
              <div class="card-body">
                <div class="row">
                  <center>
                    <img id="imageSelected" class="img-fluid"
                      src="{{#if user.photo}}{{#if logo}}../{{/if}}assets/img_up/{{user.photo}}{{else}}https://javierg.mosquedacordova.com/klizto/images/ico-image.png{{/if}}"
                      onclick="document.getElementById('profile-img').click();" width="250px"/>
                    <input
                      class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
                      id="profile-img" type="file" accept=".png" name="image" hidden />
                    <p>
                      Recomendado: Imágen de mismas dimensiones. Ejm: 300x300<br>
                      <span id="resultado"></span>
                    </p>
                  </center>
                  
                </div>
              </div>
            </div>
            {{/if}}







            <div class="col-md-12">
              <div class="card-blank">
                <div class="card-body">
                  <h3>
                    Sucursales
                  </h3>
                  
                <div class="float-right" style="margin-bottom: 20px;">
                  <a href="/create_sucursal">
                    Añadir Sucursal
                  </a>
                </div>
                  <table class="table dataTable tablesorter" id="tabla_">
                    <thead>
                      <tr>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Distrito
                        </th>
                        <th>
                          Departamento
                        </th>
                        <th>
                          Dirección
                        </th>
                        <th>
                          Teléfono
                        </th>
                        <th>
                          Tipo Local
                        </th>
                        <th align="center">
                          Opciones
                        </th>
                      </tr>
                    </thead>
                    <tbody>

                      {{#each sucursales as |sucursal i|}}

                      <tr>
                         <td>
                          {{sucursal.nombre}}
                        </td>
                        <td>
                          {{sucursal.distrito}}
                        </td>
                        <td>
                          {{sucursal.departamento}}
                        </td>
                        <td>
                          {{sucursal.direccion}}
                        </td>
                        <td>
                          {{sucursal.telefono}}
                        </td>
                        <td>
                          <span>
                            <strong style="color: {{#ColorSucursal sucursal.tipo}}{{/ColorSucursal}};">
                              {{sucursal.tipo}}
                            </strong>
                          </span>
                        </td>
                        <td align="center">
                          <div class="table-data-feature">
                            <a class="item" href="/encargados/{{sucursal.id}}" data-toggle="tooltip" data-placement="top" title="Encargados" id="empleados_button">
                              <i class="fas fa-users" ></i>
                            </a>
                            <a class="item" href="/editar_sucursal/{{sucursal.id}}" data-toggle="tooltip" data-placement="top" title="Editar" id="empleados_button">
                              <i class="fas fa-edit"></i>
                            </a>
                            <a class="item delete {{sucursal.id}} {{sucursal.tipo}}" href="#" id="delete_sucursal" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                              <i class="fas fa-trash-alt {{sucursal.id}} {{sucursal.tipo}}"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                      {{/each}}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>