<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  $(function () {
  
$('.sucursales_check:checked').each(function() {
   var id_suc = $(this).val()
        $('.sucur'+id_suc).show()
        let suc_actual=$('#sucursales_p').text()
        console.log($(this).text())
        $('#sucursales_p').text($('#suc'+id_suc).text()+'/'+suc_actual+'' )
      console.log("hola")
    }
);
      $('.btn_submit_preview').on('click',()=>{
        if($('#preview_publicacion').is(':visible')){
        $('#crear_publicacion').show()
        $('#preview_publicacion').hide()
      }
        $('.btn_submit').click()})

    $('.preview').on('click', () => {
        if($('#preview_publicacion').is(':visible')){
        $('#preview_publicacion').hide()
        $('#crear_publicacion').show()
      }else{
      $('#preview_publicacion').show()
      $('#crear_publicacion').hide()
      $('#titulo_preview').text($('#titulo').val())
      $('#precio_preview').text('S/' + $('#precio').val())
      $('#descripcion_preview').text($('#descripcion').val())
      $('#condiciones_preview').text($('#condiciones').val())
      $('#desde_preview').text($('#desde').val())
      $('#hasta_preview').text($('#hasta').val())
      $('#preparacion_p').text($('#preparacion').val()+' min') 
      $('#ejecucion_p').text($('#ejecucion').val()+' min') 
       if($('.editar_public')){
          $('#img_preview').attr('src', "../assets/img_up/" + $('#imagen1').val())
       $('#img1').attr('src', "../assets/img_up/" + $('#imagen2').val())
      $('#img2').attr('src', "../assets/img_up/" + $('#imagen3').val())
      $('#img3').attr('src', "../assets/img_up/" + $('#imagen4').val())
      $('#img4').attr('src', "../assets/img_up/" + $('#imagen5').val())
      }else{
         $('#img_preview').attr('src', "assets/img_up/" + $('#imagen1').val())
        $('#img1').attr('src', "assets/img_up/" + $('#imagen2').val())
      $('#img2').attr('src', "assets/img_up/" + $('#imagen3').val())
      $('#img3').attr('src', "assets/img_up/" + $('#imagen4').val())
      $('#img4').attr('src', "assets/img_up/" + $('#imagen5').val())
      }
      }


    })
    $('.sucursales_check').on('change', (e) => {
      var id_suc = e.target.classList.item(1)
      if($('.sucur'+id_suc).is(':visible')){
        $('.sucur'+id_suc).hide()
      }else{
        $('.sucur'+id_suc).show()
        let suc_actual=$('#sucursales_p').text()
        console.log(suc_actual)
        $('#sucursales_p').text($('#suc'+id_suc).text()+'/'+suc_actual+'' )
      }


      


    })

  })
</script>
{{#if msg}}
<label id="msgs">{{msg}}</label>


{{/if}}

<div class="page-container">
  <div class="main-content">
    <div class="section__content section__content--p30">
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="overview-wrap">
                <h2 class="title-1">
                  Mis Publicaciones
                </h2>
              </div>
            </div>
          </div>

          {{#if mispublicaciones}}
          <div class="col-md-12">
            <div class="card-blank">
              <div class="card-body">
                <div class="float-right">
                  <a href="/crear_publicacion">
                    Crear Publicación
                  </a>
                </div>
                <table class="table dataTable" id="tabla_mis_publicaciones">
                  <thead>
                    <tr>
                      <th>

                      </th>
                      <th>
                        Título
                      </th>
                      <th>
                        Estado
                      </th>
                      <th>
                        Precio
                      </th>
                      <th>
                        D. Billetera
                      </th>
                      <th align="center">
                        Opciones
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each publicaciones as |publicacion i|}}
                    <tr>
                      <td>
                        <center>
                          <img id="imageSelected1" class="img-fluid"
                            src="../assets/img_up/{{#fotoPrincipalPublicacion publicacion.fotos}}{{/fotoPrincipalPublicacion}}"
                            width="70px" />
                        </center>
                      </td>
                      <td>
                        {{publicacion.titulo}}
                      </td>
                      <td>
                        <span>
                          <strong style="color: {{#ColorSucursal publicacion.estado}}{{/ColorSucursal}};">
                            {{publicacion.estado}}
                          </strong>
                        </span>
                      </td>
                      <td>
                        S/ {{publicacion.precio}}
                      </td>
                      <td>
                        S/ {{publicacion.billetera}}
                      </td>
                      <td align="center">
                        <div class="table-data-feature">
                          <a class="item" href="/editar_publicacion/{{publicacion.id}}" data-toggle="tooltip"
                            data-placement="top" title="Editar" id="empleados_button">
                            <i class="fas fa-edit"></i>
                          </a>
                          <a class="item delete {{publicacion.id}} {{publicacion.tipo}}" href="#"
                            id="delete_publicacion" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                            <i class="fas fa-trash-alt {{publicacion.id}} {{publicacion.tipo}}"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    {{/each}}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {{/if}}

          {{#if crear_publicacion}}
          <div class="row" id="crear_publicacion">

            <div class="card-blank" style="width: 65%;margin-left: 15px; margin-bottom: 10px;">
              <div class="overview-wrap">
                <h2 class="title-1">Crear Publicación</h2>
                <div class="float-right"><a href="/mispublicaciones" id="volver_publicaciones"> Volver </a></div>
              </div>
              <form action="/crear_publicacion" method="post" id="form_mis_publicaciones">
                <div class="row">
                  <div class="col">
                    <center>
                      <img id="imageSelected1" class="img-fluid"
                        src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        onclick="document.getElementById('profile-img1').click();" width="50px" />
                      <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm img_publicacion"
                        id="profile-img1" type="file" accept=".png" name="image" hidden />
                      <input type="text" id="imagen1" class="" name='photo' hidden required>
                    </center>
                  </div>
                  <div class="col">
                    <center>
                      <img id="imageSelected2" class="img-fluid"
                        src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        onclick="document.getElementById('profile-img2').click();" width="50px" />
                      <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm img_publicacion"
                        id="profile-img2" type="file" accept=".png" name="image" hidden />
                      <input type="text" id="imagen2" class="" name='photo' hidden>

                    </center>
                  </div>
                  <div class="col">
                    <center>
                      <img id="imageSelected3" class="img-fluid"
                        src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        onclick="document.getElementById('profile-img3').click();" width="50px" />
                      <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm img_publicacion"
                        id="profile-img3" type="file" accept=".png" name="image" hidden />
                      <input type="text" id="imagen3" class="" name='photo' hidden>

                    </center>
                  </div>
                  <div class="col">
                    <center>
                      <img id="imageSelected4" class="img-fluid"
                        src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        onclick="document.getElementById('profile-img4').click();" width="50px" />
                      <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm img_publicacion"
                        id="profile-img4" type="file" accept=".png" name="image" hidden />
                      <input type="text" id="imagen4" class="" name='photo' hidden>

                    </center>
                  </div>
                  <div class="col">
                    <center>
                      <img id="imageSelected5" class="img-fluid"
                        src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        onclick="document.getElementById('profile-img5').click();" width="50px" />
                      <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm img_publicacion"
                        id="profile-img5" type="file" accept=".png" name="image" hidden />
                      <input type="text" id="imagen5" class="" name='photo' hidden>

                    </center>
                  </div>
                </div>

                <div class="card-body">

                  <input type="text" class="form-control" name="userid" hidden value="{{user.id}}" />

                  <div class="col">
                    <div class="form-row">
                      <div class="col-7">
                        <label for="formGroupExampleInput">Horario de atención:</label>
                      </div>
                      <div class="col">
                        Desde <input type="time" class="form-control" placeholder="Desde" name="desde" id="desde" value="">
                      </div>
                      <div class="col">
                        A <input type="time" class="form-control" placeholder="Hasta" name="hasta" id="hasta" value="">
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-row">
                      <div class="col-7">
                        <label for="formGroupExampleInput">Tiempo de duración del servicio:</label>
                      </div>
                      <div class="col">
                        Preparación <input type="text" class="form-control" placeholder="Tiempo de Preparación" name="preparacion" id="preparacion">
                      </div>
                      <div class="col">
                        Ejecución <input type="text" class="form-control" placeholder="Tiempo de ejecución" name="ejecucion" id="ejecucion">
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="inputEmail4">Título Principal</label>
                      <input type="text" class="form-control" id="titulo" placeholder="Nombre" name="titulo" required>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="inputPassword4">Precio</label>
                      <input type="number" class="form-control" id="precio" name="precio" step="0.01" required>
                      <input type="number" class="form-control" id="comision" name="comision" step="0.01" value="{{comision.valor}}" hidden>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="inputPassword4">Billetera</label>
                      <input type="number" class="form-control" id="billetera" name="billetera" step="0.01" required>
                    </div>
                     <div class="col-md-3 mb-3">
                      <label for="inputPassword4">Costo Domicilio</label>
                      <input type="number" class="form-control" id="billetera" name="costo_domicilio" step="0.01" required  >
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputState">Categoría</label>
                      <select id="inputState" class="form-control" name="categoria">
                       <option value="todas" selected>Todas</option>
                        {{#each categorias as |categoria i|}}
                        <option value="{{categoria.nombre}}">{{categoria.nombre}} </option>
                         {{/each}}
                      </select>

                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputState">Estado</label>
                      <select id="inputState" class="form-control" name="estado">
                        <option selected value="Activa">Activa </option>
                        <option value="Inactiva">Inactiva</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1">Descripción</label>
                      <textarea class="form-control" id="descripcion" rows="3" name="descripcion"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1">Condiciones</label>
                      <textarea class="form-control" id="condiciones" rows="3" name="condiciones"></textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1">Sucursales</label><br>
                      {{#each sucursales as | sucursal i|}}
                      <label id="suc{{sucursal.id}}"><input type="checkbox" id="cbox1" value="{{sucursal.id}}" name="sucursales[]" class="sucursales_check {{sucursal.id}}"> {{sucursal.nombre}}</label><br>
                      {{/each}}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1">Empleados</label><br>
                      {{#each sucursales as | sucursal i|}}
                        {{#empleados_publicacion sucursal.encargados sucursal.id}}
                    
                          {{/empleados_publicacion}}
                      {{/each}}
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn_submit">Guardar Cambios</button>
                  <button type="button" class="btn btn-primary preview">Vista Previa</button>
                </div>
              </form>
            </div>

          </div>

          <div class="container" id="preview_publicacion" style="display: none;">
            <div class="row">
              <div class="col">
                <div class="card-blank" style="margin-left: 15px; margin-bottom: 10px;">
                  <div class="card-body">
                    <img src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png" alt="..."
                      class="img-thumbnail" id="img_preview" style="height: 400px;">
                  </div>
                </div>

              </div>
              <div class="col">
                <div class="card-blank">
                  <div class="card-body">
                    <h5 class="card-title" id="titulo_preview" style="text-align: left;"></h5>
                    <h6 class="card-subtitle mb-2 " id="precio_preview" style="text-align: left;"></h6>
                    <h6 class="card-subtitle mb-2 " style="text-align: left;">Descripcion</h6>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;"></p>
                    <h6 class="card-title" style="text-align: left;">Condiciones</h6>
                    <p class="card-text" id="condiciones_preview" style="text-align: left;"></p>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col">
                <div class="card-blank">
                  <div class="card-body">
                    <h5 class="card-title" id="titulo_preview" style="text-align: left;">Información del anunciante</h5>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;">{{user.name}}</p>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;">{{principal.direccion}}</p>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;">Tiempo de preparación: Preparación:<span id="preparacion_p"></span> y Ejecución:<span id="ejecucion_p"></span> </p>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;">Disponible en:<br>
                    <span id="sucursales_p"></span></p>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;">Abierto de: <span
                        id="desde_preview"></span> hasta: <span id="hasta_preview"></span></p>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;">Calificación</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style=" margin-bottom: 60px;">
              <div class="col">


                
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="imgpreview" src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        alt="First slide" style="width: auto; height: 150px;" id="img1">
                    </div>
                    <div class="carousel-item">
                      <img class="imgpreview" src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        alt="Second slide" style="width: auto; height: 150px;" id="img2">
                    </div>
                    <div class="carousel-item">
                      <img class="imgpreview" src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        alt="Third slide" style="width: auto; height: 150px;" id="img3">
                    </div>
                    <div class="carousel-item">
                      <img class="imgpreview" src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        alt="Third slide" style="width: auto; height: 150px;" id="img4">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <button type="submit" class="btn btn-primary btn_submit_preview">Guardar Cambios</button>
                  <button type="button" class="btn btn-primary preview">Editar</button>
              </div>
            </div>
          </div>
          {{/if}}
           {{#if editar_publicacion}}
          <div class="row editar_public" id="crear_publicacion">

            <div class="card-blank" style="width: 65%;margin-left: 15px; margin-bottom: 10px;">
              <div class="overview-wrap">
                <h2 class="title-1">Editar Publicación</h2>
                <div class="float-right"><a href="/mispublicaciones" id="volver_publicaciones"> Volver </a></div>
              </div>
              <form action="/editar_publicacion" method="post" id="form_mis_publicaciones">
              <input type="text" id="id_publicacion" class="" name='id_publicacion' hidden value="{{publicacion.id}}">
                <div class="row">
                  <div class="col">
                    <center>
                      <img id="imageSelected1" class="img-fluid"
                        src="../assets/img_up/{{#fotoPublicacion1 publicacion.fotos}}{{/fotoPublicacion1}}"
                        onclick="document.getElementById('profile-img1').click();" width="50px" />
                      <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm img_publicacion"
                        id="profile-img1" type="file" accept=".png" name="image" hidden />
                      <input type="text" id="imagen1" class="" name='photo' hidden required value="{{#fotoPublicacion1 publicacion.fotos}}{{/fotoPublicacion1}}">
                    </center>
                  </div>
                  <div class="col">
                    <center>
                      <img id="imageSelected2" class="img-fluid"
                        src="../assets/img_up/{{#fotoPublicacion2 publicacion.fotos}}{{/fotoPublicacion2}}"
                        onclick="document.getElementById('profile-img2').click();" width="50px" />
                      <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm img_publicacion"
                        id="profile-img2" type="file" accept=".png" name="image" hidden />
                      <input type="text" id="imagen2" class="" name='photo' hidden value="{{#fotoPublicacion2 publicacion.fotos}}{{/fotoPublicacion2}}">

                    </center>
                  </div>
                  <div class="col">
                    <center>
                      <img id="imageSelected3" class="img-fluid"
                        src="../assets/img_up/{{#fotoPublicacion3 publicacion.fotos}}{{/fotoPublicacion3}}"
                        onclick="document.getElementById('profile-img3').click();" width="50px" />
                      <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm img_publicacion"
                        id="profile-img3" type="file" accept=".png" name="image" hidden />
                      <input type="text" id="imagen3" class="" name='photo' hidden value="{{#fotoPublicacion3 publicacion.fotos}}{{/fotoPublicacion3}}">

                    </center>
                  </div>
                  <div class="col">
                    <center>
                      <img id="imageSelected4" class="img-fluid"
                        src="../assets/img_up/{{#fotoPublicacion4 publicacion.fotos}}{{/fotoPublicacion4}}"
                        onclick="document.getElementById('profile-img4').click();" width="50px" />
                      <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm img_publicacion"
                        id="profile-img4" type="file" accept=".png" name="image" hidden />
                      <input type="text" id="imagen4" class="" name='photo' hidden value="{{#fotoPublicacion4 publicacion.fotos}}{{/fotoPublicacion4}}">

                    </center>
                  </div>
                  <div class="col">
                    <center>
                      <img id="imageSelected5" class="img-fluid"
                        src="../assets/img_up/{{#fotoPublicacion5 publicacion.fotos}}{{/fotoPublicacion5}}"
                        onclick="document.getElementById('profile-img5').click();" width="50px" />
                      <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm img_publicacion"
                        id="profile-img5" type="file" accept=".png" name="image" hidden />
                      <input type="text" id="imagen5" class="" name='photo' hidden value="{{#fotoPublicacion5 publicacion.fotos}}{{/fotoPublicacion5}}">

                    </center>
                  </div>
                </div>

                <div class="card-body">

                  <input type="text" class="form-control" name="userid" hidden value="{{user.id}}" />

                  <div class="col">
                    <div class="form-row">
                      <div class="col-7">
                        <label for="formGroupExampleInput">Horario de atención:</label>
                      </div>
                      <div class="col">
                        Desde <input type="time" class="form-control" placeholder="Desde" name="desde" id="desde" value="{{publicacion.horario_desde}}">
                      </div>
                      <div class="col">
                        A <input type="time" class="form-control" placeholder="Hasta" name="hasta" id="hasta" value="{{publicacion.horario_hasta}}">
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-row">
                      <div class="col-7">
                        <label for="formGroupExampleInput">Tiempo de duración del servicio:</label>
                      </div>
                      <div class="col">
                        Preparación <input type="text" class="form-control" placeholder="Tiempo de Preparación" name="preparacion" id="preparacion" value="{{publicacion.preparacion}}">
                      </div>
                      <div class="col">
                        Ejecución <input type="text" class="form-control" placeholder="Tiempo de ejecucion" name="ejecucion" id="ejecucion" value="{{publicacion.ejecucion}}">
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-3 mb-3">
                      <label for="inputEmail4">Titulo Principal</label>
                      <input type="text" class="form-control" id="titulo" placeholder="Nombre" name="titulo" required value="{{publicacion.titulo}}">
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="inputPassword4">Precio</label>
                      <input type="number" class="form-control" id="precio" name="precio" step="0.01" required value="{{publicacion.precio}}">
                      <input type="number" class="form-control" id="comision" name="comision" step="0.01" value="{{comision.valor}}" hidden>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="inputPassword4">Billetera</label>
                      <input type="number" class="form-control" id="billetera" name="billetera" step="0.01" required value="{{publicacion.billetera}}" readonly>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="inputPassword4">Costo Domicilio</label>
                      <input type="number" class="form-control" id="billetera" name="costo_domicilio" step="0.01" required value="{{publicacion.costo_domicilio}}" >
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputState">Categoria</label>
                      <select id="inputState" class="form-control" name="categoria">
                        <option selected value="{{publicacion.categoria}}">{{publicacion.categoria}} </option>
                        {{#each categorias as |categoria i|}}
                        <option value="{{categoria.nombre}}">{{categoria.nombre}} </option>
                         {{/each}}
                      </select>

                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputState">Estado</label>
                      <select id="inputState" class="form-control" name="estado">
                        <option selected value="{{publicacion.estado}}">{{publicacion.estado}} </option>
                        <option selected value="Activa">Activa </option>
                        <option value="Inactiva">Inactiva</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1">Descripción</label>
                      <textarea class="form-control" id="descripcion" rows="3" name="descripcion">{{publicacion.descripcion}}</textarea>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1">Condiciones</label>
                      <textarea class="form-control" id="condiciones" rows="3" name="condiciones">{{publicacion.condiciones}}</textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1">Sucursales</label><br>
                      {{#each sucursales as | sucursal i|}}
                      <label id="suc{{sucursal.id}}"><input type="checkbox" id="cbox1" value="{{sucursal.id}}" name="sucursales[]" class="sucursales_check {{sucursal.id}}"{{#chek_suc sucursal.id ../publicacion.sucursales}}{{/chek_suc}}> {{sucursal.distrito}}</label><br>
                      {{/each}}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="exampleFormControlTextarea1">Empleados</label><br>
                      {{#each sucursales as | sucursal i|}}
                          {{#each sucursal.encargados as | empleados i|}}
                          <div class="sucur{{sucursal.id}}" style="display:none;">
                          <label><input type="checkbox" id="empleado{{empleados.id}}" value="{{empleados.id}}" name="empleados[]" class="empleados_check{{empleados.sucursaleId}}" {{#empleados_publicacionchek empleados.id ../../publicacion.empleados}}{{/empleados_publicacionchek}} >{{empleados.nombre}}</label><br>
                          </div>
                          {{/each}}
                        
                      {{/each}}
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn_submit">Guardar Cambios</button>
                  <button type="button" class="btn btn-primary preview">Vista Previa</button>
                </div>
              </form>
            </div>

          </div>

          <div class="container" id="preview_publicacion" style="display: none;">
            <div class="row">
              <div class="col">
                <div class="card-blank" style="margin-left: 15px; margin-bottom: 10px;">
                  <div class="card-body">
                    <img src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png" alt="..."
                      class="img-thumbnail" id="img_preview" style="height: 400px;">
                  </div>
                </div>

              </div>
              <div class="col">
                <div class="card-blank">
                  <div class="card-body">
                    <h5 class="card-title" id="titulo_preview" style="text-align: left;"></h5>
                    <h6 class="card-subtitle mb-2 " id="precio_preview" style="text-align: left;"></h6>
                    <h6 class="card-subtitle mb-2 " style="text-align: left;">Descripción</h6>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;"></p>
                    <h6 class="card-title" style="text-align: left;">Condiciones</h6>
                    <p class="card-text" id="condiciones_preview" style="text-align: left;"></p>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col">
                <div class="card-blank">
                  <div class="card-body">
                    <h5 class="card-title" id="titulo_preview" style="text-align: left;">Información del anunciante</h5>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;">{{user.name}}</p>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;">{{principal.direccion}}</p>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;">Tiempo de preparacion: Preparación:<span id="preparacion_p"></span> y Ejecución:<span id="ejecucion_p"></span> </p>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;">Disponible en:<br>
                    <span id="sucursales_p"></span></p>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;">Abierto de: <span
                        id="desde_preview"></span> hasta: <span id="hasta_preview"></span></p>
                    <p class="card-text" id="descripcion_preview" style="text-align: left;">Calificación</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style=" margin-bottom: 60px;">
              <div class="col">


                
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="imgpreview" src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        alt="First slide" style="width: auto; height: 150px;" id="img1">
                    </div>
                    <div class="carousel-item">
                      <img class="imgpreview" src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        alt="Second slide" style="width: auto; height: 150px;" id="img2">
                    </div>
                    <div class="carousel-item">
                      <img class="imgpreview" src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        alt="Third slide" style="width: auto; height: 150px;" id="img3">
                    </div>
                    <div class="carousel-item">
                      <img class="imgpreview" src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        alt="Third slide" style="width: auto; height: 150px;" id="img4">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              
            </div>
            <button type="button" class="btn btn-primary btn_submit_preview">Guardar Cambios</button>
                  <button type="button" class="btn btn-primary preview">Editar</button>
          </div>
          {{/if}}
        </div>
      </main>
    </div>

  </div>
</div>