<script src="https://kit.fontawesome.com/849e949c38.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" />
   <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/plugins/extensions/ext-component-sliders.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/app-ecommerce.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/plugins/extensions/ext-component-toastr.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/extensions/nouislider.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/extensions/toastr.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/semi-dark-layout.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/negocios.css">



{{#if msg}}
<label id="msgs">{{msg}}</label>
{{/if}}
<script>
    $(document).ready(function(){
	$(".CloseSidebar").click(function(){
    $(".sidebar-shop.show").removeClass('show');
    $("body").removeClass('modal-open');
	});
});
</script>


<div class="page-container" {{#if publicaciones_landing}}style='padding-left: 0;' {{/if}}>
  <div class="main-content" style='{{#if publicaciones_landing}}padding-top: 15px; {{/if}} min-height: 500px !important;'>
    <div class="section__content section__content--p30">

        <div class="container-fluid">
          <div class="row" {{#if publicaciones_landing}}style='display: none;' {{/if}}>
            <div class="col-md-12">
              <div class="overview-wrap">
                <h2 class="title-1">
                  <div class="float-right"><a href="/dash_cliente" id="volver_publicaciones"> Volver </a></div>
                </h2>
              </div>
            </div>
          </div>


     <div class="ecommerce-application">
        
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">

            <div class="content-detached content-right">
                <div class="content-body">
                    <!-- E-commerce Content Section Starts -->
                    <section id="ecommerce-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ecommerce-header-items">
                                     <div class="result-toggler">
                                        <button class="navbar-toggler shop-sidebar-toggler" type="button" data-bs-toggle="collapse">
                                            <span class="navbar-toggler-icon d-block d-lg-none"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid font-medium-3"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg></span>
                                        </button>
                                        {{!-- <div class="search-results">16285 results found</div> --}}
                                    </div>
                                    <div class="view-options d-flex">
                                        <div class="btn-group dropdown-sort">
                                            <button type="button" class="btn btn-outline-primary dropdown-toggle me-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="active-sorting">Ordenar</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item resetSorting" id="resetSorting">Por Defecto</a>
                                                <a class="dropdown-item" id="alfabeticoAsc">Alfabetico (A-Z)</a>
                                                <a class="dropdown-item" id="alfabeticoDsc">Alfabetico (Z-A)</a>
                                                <a class="dropdown-item" id="alfabeticoAsc">Populares</a>
                                                <a class="dropdown-item" id="alfabeticoDsc">Recientes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- E-commerce Content Section Starts -->

                    <!-- E-commerce Search Bar Ends -->
<div id="data-container"></div>
<div id="pagination-container"></div>
                    <!-- E-commerce Products Starts -->
                    
                      
                        <div class="row">
                        {{#each parse_suc as |sucu i |}}
                        <div class="col-md-3 col-6 item">
                            <div class="card card-mas-nuevo item pagination__item" data-sortTi="{{nombre}}" >
                          <label class="card-title nombres" hidden>{{nombre}} </label>
                          <label class="card-title distrito_f" hidden>{{distrito}}</label>
                            <div class="img-card text-center">
                                    <img class=" card-img-top" src="../assets/img_up/{{usuario.photo}}" alt="img-placeholder" />
                            </div>
                            <div class="cont-card">
                                <h5 class="text-break">
                                    {{nombre}}
                                </h5>
                               <p class="card-text item-description">
                                    {{descripcion}}
                                </p>
                            </div>
                            <div class="precio-buscador ">
                                <div class="buscador-vermas">
                                    <a href="/negocios/{{link}}">
                                        Ir al negocio
                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>
                    {{/each}}
                    </div>
                   
                    <div class="start-pagination">

                    </div>
                    <!-- E-commerce Products Ends -->


                </div>
            </div>
            <div class="sidebar-detached sidebar-left">
                <div class="sidebar">
                    <!-- Ecommerce Sidebar Starts -->
                    <div class="sidebar-shop" style="overflow: hidden;">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="filter-heading d-none d-lg-block">Filtros</h6>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                                        <div class="CloseSidebar" role="button">
                            x
                          </div>
                          
                        <div id="product-categories">
                                    <h6 class="filter-title">Categorias</h6>
                                    <ul class="list-unstyled categories-list">
                                       <li>
                                            <div class="form-check">
                                                <input type="radio" id="category" name="category-filter" class="form-check-input select_cat" value="Todas" checked/>
                                                <label class="form-check-label" for="category">Todas</label>
                                            </div>
                                        </li>
                                      {{#each categorias as |categoria i|}}
                                          <li>
                                            <div class="form-check">
                                                <input type="radio" id="category{{i}}" name="category-filter" class="form-check-input select_cat" value="{{nombre}}"/>
                                                <label class="form-check-label" for="category{{i}}">{{nombre}}</label>
                                            </div>
                                        </li>
                         {{/each}} 
                                    </ul>
                                </div>

                                <div class="list-unstyled categories-list mb-1">
                                    <label for="">Zonas de Delivery</label>
                                    <select class="form-control form-select select_distrito" name="distrito" id="distritpos_lima">
                                        <option>Seleccione un distrito</option>
                                    </select>
                                </div>

                                <!-- Price Range ends -->
                                <div class="row mt-3">
                                    <div class="col-12">
                                                                        <div class="input-group input-group-merge mb-1">
                      <input class="form-control mr-sm-2 header-buscador" type="text" name="search" placeholder="Buscar" id="buscador" style="margin-right: 0 !important;">
                     
                                </div>
                                    </div>
                                </div>

                                <!-- Categories Starts -->
                                <!-- Categories Ends -->
 <div id="product-categories">
                                    {{!-- <h6 class="filter-title">Distritos</h6> --}}
                                                    <div class="list-unstyled categories-list mb-1">
                  <label for="">Departamento</label>
                  {{!-- <input type="text" class="form-control" name="departamento"> --}}
                  <select class="form-control form-select" name="departamento" id="departamentos">
                    <option>Seleccione un departamento</option>
                    <option>Lima</option>
                    <option>Callao</option>
                  </select>
                </div>
                <div class="list-unstyled categories-list mb-1">
                  <label for="">Distrito</label>
                  {{!-- <input type="text" class="form-control" name="distrito"> --}}
                  <select class="form-control form-select select_distrito" name="distrito" id="distritpos_lima">
                    <option>Seleccione un distrito</option>
                  </select>
                </div>
                                </div>
                                <!-- Brand ends -->


                                <!-- Clear Filters Starts -->
                                <div id="clear-filters" style=" margin-top: 15px;">
                                    <button type="button" class="btn w-100 btn-primary resetSorting">Ver todos</button>
                                </div>
                                <!-- Clear Filters Ends -->
                            </div>
                        </div>
                    </div>
                    <!-- Ecommerce Sidebar Ends -->

                </div>
            </div>
        </div>
    </div>



        </div>
    </div>


  </div>

</div>
 
     <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="../../../app-assets/vendors/js/extensions/wNumb.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/nouislider.min.js"></script>
    <script src="../../../app-assets/vendors/js/extensions/toastr.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/pages/app-ecommerce.js"></script>
    <!-- END: Page JS-->
<script>

  $(function () {
    jQuery("#distritpos_lima").on('change',function(e){
	console.log(e.target.value)
   // $(".select_cat").removeClass("active"); 
    $(e.target).addClass("active"); 
     //this.attr("class", "nav-link select_cat active");
  var distrito_f = $('.distrito_f');
   var buscando =  (e.target.value).toLowerCase();
   var item='';
   for( var i = 0; i < distrito_f.length; i++ ){
       item = $(distrito_f[i]).html().toLowerCase();
        for(var x = 0; x < item.length; x++ ){
          
            if(buscando == 'Seleccione un distrito' || buscando =="" ||  buscando =="default"){
                $(distrito_f[i]).parents('.item').show(); 
            }else if( buscando.length == 0 || item.indexOf( buscando ) > -1 ){
               console.log(item.indexOf( buscando ))
                $(distrito_f[i]).parents('.item').show(); 
                $(distrito_f[i]).parents('.item').attr('active');
            }else{
              
                 $(distrito_f[i]).parents('.item').hide();
            }
        }
   }
});
    jQuery(".select_cat").on('click',function(e){
	console.log(e.target.value)
    $(".select_cat").removeClass("active"); 
    $(e.target).addClass("active"); 
     //this.attr("class", "nav-link select_cat active");
  var categoria = $('.categoria');
   var buscando =  (e.target.value).toLowerCase();
   var item='';
   for( var i = 0; i < categoria.length; i++ ){
       item = $(categoria[i]).html().toLowerCase();
        for(var x = 0; x < item.length; x++ ){
            if(buscando == 'todas'){
                $(categoria[i]).parents('.item').show(); 
            }else if( buscando.length == 0 || item.indexOf( buscando ) > -1 ){
                $(categoria[i]).parents('.item').show(); 
                $(categoria[i]).parents('.item').attr('active');
            }else{
                 $(categoria[i]).parents('.item').hide();
            }
        }
   }
});
  
    $('#correo_tercero').on('change', (e) => {
      ///let fecha = $('#fecha_ag').val()
      let correo = e.target.value
      let pass = $('#pass').val()
      console.log(correo)
      console.log(pass)
      const data = new FormData();
      data.append("correo", correo);
      data.append('password', pass);
      $.ajax({
        url: '/verificar_usuario',
        type: 'POST',
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        success: function (data, textStatus, jqXHR) {
          console.log(data)
          if (data == 0) {
            $('.password_r').removeAttr('style')
            $('#password_c').removeAttr('style')
            console.log(data)
            $('#continuar_sesion').removeAttr('disabled')

          }
          $('.password_r').removeAttr('style')
          $('#continuar_sesion').removeAttr('disabled')
        },
        error: function (jqXHR, textStatus) {
          console.log('error:' + jqXHR)
        }
      });
    })
let items = $('#pagination-2 > div');

// store original index order on load:
items.each((i, el) => $(el).data('index', i));
$('#alfabeticoAsc').on('click', function () {
  
		var divOrder = $("#pagination-2 > div.item").sort(function (a, b) {
        var contentA =$(a).data('sortti').toUpperCase();
      var contentB =$(b).data('sortti').toUpperCase();
      return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
		});		
		$("#pagination-2").html(divOrder);    
	});

  	$('#alfabeticoDsc').on('click', function () {
  
		var divOrder = $("#pagination-2 > div.item").sort(function (a, b) {
        var contentA =$(a).data('sortti').toUpperCase();
      var contentB =$(b).data('sortti').toUpperCase();
      return (contentA > contentB) ? -1 : (contentA < contentB) ? 1 : 0;
		});		
		$("#pagination-2").html(divOrder);    
	});

	$('#masbajosort').on('click', function () {
  console.log('dd')
		var divOrder = $("#pagination-2 > div").sort(function (a, b) {
        var contentA =parseInt( $(a).data('sort'));
      var contentB =parseInt( $(b).data('sort'));
      return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
		});		
		$("#pagination-2").html(divOrder);    
	});

  	$('#masaltosort').on('click', function () {
  console.log('dd')
		var divOrder = $("#pagination-2 > div").sort(function (a, b) {
        var contentA =parseInt( $(a).data('sort'));
      var contentB =parseInt( $(b).data('sort'));
      return (contentA > contentB) ? -1 : (contentA < contentB) ? 1 : 0;
		});		
		$("#pagination-2").html(divOrder);    
	});
  
  $('.resetSorting').on('click', () => {
 window.location.href ="/negocios"
});



  })
  function template(data) {
    var html = '<ul>';
    $.each(data, function(index, item){
        html += '<li>'+ item +'</li>';
    });
    html += '</ul>';
    return html;
}
</script>