<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  $(function () {
   $('.delete').on('click', (e)=>{
    let id = e.target.classList.item(2)
    let tipo = e.target.classList.item(3)
    Swal.fire({
  title: 'Cancelar',
  text: "Seguro desea Eliminar la publicidad:!" + id,
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: 'Eliminar'
}).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/borrar_publicidad/${id}`;
  }
})
  })



$('#publi_img').on('change', (e)=>{
 const archivos = e.target.files;
    const data = new FormData();

    data.append("archivo", archivos[0]);
$.ajax({
      url: '/update-profile/archivo',
      type: 'POST',
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      xhr: function () {        
          var xhr = $.ajaxSettings.xhr();
          xhr.upload.onprogress = function (event) {
              var perc = Math.round((event.loaded / event.total) * 100);
             // $("#nombreArchivoCalendario1").text(inputFile.name);
             
              $("#progressBar1").text(perc + '%');
              $("#progressBar1").css('width', perc + '%');
          };
          return xhr;
      },
      beforeSend: function (xhr) {
      //  displayLoading()
          $("#progressBar1").text('0%');
          $("#progressBar1").css('width', '0%');
      },
      success: function (data, textStatus, jqXHR)
      {    
       //$("#loading").hide()
          $("#progressBar1").addClass("progress-bar-success");
          $("#progressBar1").text('100% - Carga realizada');
         const outputImg3 = document.getElementById("imageSelected5");
            outputImg3.setAttribute("src", "assets/img_up/" + archivos[0].name);
        document.getElementById("imagen5").value = archivos[0].name;
  
     },
      error: function (jqXHR, textStatus) { 
        console.log('error:'+ jqXHR)
      }
  });
})





  })
</script>
{{#if msg}}
<label id="msgs">{{msg}}</label>


{{/if}}

<div class="page-container">
  <div class="main-content">
    <div class="section__content section__content--p30">
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="overview-wrap">
                <h2 class="title-1">
                  {{pageName}}
                </h2>
              </div>
            </div>
          </div>

          {{#if public}}
          <div class="col-md-12">
            <div class="card-blank">
              <div class="card-body">
                <div class="float-right" >
                  <a href="/crear_publicidad">
                    Crear publicidad
                  </a>
                </div>
                 
                <table class="table dataTable" id="tabla_">
                  <thead>
                    <tr>
                      <th>
                        Id
                      </th>
                      <th>
                        Nombre
                      </th>
                      <th>
                        Estado
                      </th>
                      <th>
                        Imagen
                      </th>
                      <th align="center">
                        Opciones
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each publicidad as |publicidad i|}}
                    <tr>
                      <td>
                        {{publicidad.id}}
                      </td>
                      <td id="nombre_config">{{publicidad.nombre}}</td>
                      <td>
                        <span>
                          <strong style="color: {{#ColorSucursal publicidad.estado}}{{/ColorSucursal}};">
                            {{publicidad.estado}}
                          </strong>
                        </span>
                      </td>
                     
                           <td>
          
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter{{publicidad.id}}">
 Click Para ver
</button>
  <style>
    .modal-backdrop{
      position: relative;
    }
  </style>
<div class="modal fade" id="exampleModalCenter{{publicidad.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{#if publicidad.imagen}}/assets/img_up/{{publicidad.imagen}}{{/if}}">
      </div>
    </div>
  </div>
</div>
					</td>
                      <td align="center">
                        <div class="table-data-feature">
                          <a class="item" href="/editar_publicidad/{{publicidad.id}}" data-toggle="tooltip"
                            data-placement="top" title="Editar" id="">
                            <i class="fas fa-edit"></i>
                          </a>
                          <a class="item delete {{publicidad.id}} {{publicidad.nombre}}" href="#"
                            id="delete_publicidad" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                            <i class="fas fa-trash-alt {{publicidad.id}} {{publicidad.nombre}}"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    {{/each}}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {{/if}}

          {{#if crear_public}}
          <div class="row" id="crear_configuracion">

            <div class="card-blank" style="width: 65%;margin-left: 15px; margin-bottom: 10px;">
              <div class="overview-wrap">
                <h2 class="title-1">{{pageName}}</h2>
                <div class="float-right"><a href="/publicidad" id="volver_configuracion"> Volver </a></div>
              </div>
              <form action="/crear_publicidad" method="post" id="form_miconfig">

                <div class="card-body">
                  <input type="text" class="form-control" name="userid" hidden value="{{user.id}}" />

                  <div class="form-row">
                    <div class="form-group col-md-6 mb-1">
                      <label for="inputEmail4">Nombre</label>
                        <input type="text" class="form-control" id="titulo" placeholder="Valor" name="nombre" required>
                      </select>
                    </div>
                      <div class="form-group col-md-6">
                      <label for="inputState">Estado</label>
                      <select id="inputState" class="form-control" name="estado">
                        <option selected value="Activa">Activa </option>
                        <option value="Inactiva">Inactiva</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6 mb-1">
                      <label for="inputEmail4">Imagen</label>
                        <center>
                      <img id="imageSelected5" class="img-fluid"
                        src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        onclick="document.getElementById('publi_img').click();" width="50px" />
                      <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
                        id="publi_img" type="file" accept=".png" name="image" hidden />
                      <input type="text" id="imagen5" class="" name='photo' hidden>
<div id='progressBar1' class='progress-bar' role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width: 0%; border-radius: 10px;'>0%

				</div>
                    </center>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn_submit">Guardar Cambios</button>
                </div>
              </form>
            </div>

          </div>
          {{/if}}
           {{#if editar_publi}}
        <div class="row" id="editar_configuracion">

            <div class="card-blank" style="width: 65%;margin-left: 15px; margin-bottom: 10px;">
              <div class="overview-wrap">
                <h2 class="title-1">{{pageName}}</h2>
                <div class="float-right"><a href="/publicidad" id="volver_configuracions"> Volver </a></div>
              </div>
              <form action="/editar_publicidad" method="post" id="form_mis_configuracions">

                <div class="card-body">
                  <input type="text" class="form-control" name="id_configuracion" hidden value="{{edit_publi.id}}" />

                  <div class="form-row">
                    <div class="form-group col-md-6 mb-1">
                      <label for="inputEmail4">Nombre</label>
                      <select id="inputState" class="form-control" name="nombre">
                        <option selected value="{{edit_publi.nombre}}">{{edit_publi.nombre}} </option>
                        <option value="Comisión">Comisión </option>
                      </select>
                    </div>
                      <div class="form-group col-md-6">
                      <label for="inputState">Estado</label>
                      <select id="inputState" class="form-control" name="estado">
                        <option selected value="{{edit_publi.estado}}">{{edit_publi.estado}} </option>
                        <option selected value="Activa">Activa </option>
                        <option value="Inactiva">Inactiva</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6 mb-1">
                                           <label for="inputEmail4">Imagen</label>
                        <center>
                      <img id="imageSelected5" class="img-fluid"
                        src="https://javierg.mosquedacordova.com/klizto/images/ico-image.png"
                        onclick="document.getElementById('publi_img').click();" width="50px" />
                      <input
                        class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
                        id="publi_img" type="file" accept=".png" name="image" hidden />
<div id='progressBar1' class='progress-bar' role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width: 0%; border-radius: 10px;'>0%

				</div>
                      <input type="text" id="imagen5" class="" name='photo' value="{{edit_publi.imagen}}"hidden>

                    </center>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn_submit">Guardar Cambios</button>
                </div>
              </form>
            </div>

          </div>
          {{/if}}
        </div>
      </main>
    </div>

  </div>
</div>