<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
th.headerSortUp { 
  background-image: url('assets/img/asc.gif') !important; 
      background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
 /* background-color: #3399FF; */
} 
 
table.tablesorter thead tr .header {
  background-image: url('assets/img/bg.gif');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
  }
  th.headerSortDown { 
  background-image: url('assets/img/desc.gif') !important;
      background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer; 
/* background-color: #3399FF; */
}
</style>
<script>
	$( document ).ready(function() {

$( ".onlynum" ).keypress(function(evt) {
   
    // code is the decimal ASCII representation of the pressed key.
    var code = (evt.which) ? evt.which : evt.keyCode;
    
    if(code==8) { // backspace.
      return true;
    } else if(code>=48 && code<=57) { // is a number.
      return true;
    } else{ // other keys.
      return false;
    }
});	
});
</script>
{{#if msg}}
<label id="msgs">{{msg}}</label>
{{/if}}
<style>
	table>thead>tr{font-weight: bolder;}
.linea-oculta{display: none;}
.ingreso{
	color: green;
}
.egreso{
	color:red;
}
.card-title{
	    font-size: 1em;
}
.modal-backdrop{
      position: relative;
    }
</style>

<script>
var resultados_por_pagina = 5;
var pagina_actual = 1;
var pagina_ultima = 0;
	$( document ).ready(function() {
		
		///----TABLA Ventas
const tabla_ventas_ = document.getElementById('tabla_')

if(tabla_ventas_){
var estado = document.getElementById('estado').innerHTML
console.log(estado+"-")
if (estado == "Realizada"){
	$('.Realizada').attr('style','pointer-events: none;')
	$('.fa-check-circle>Realizada').removeAttr('style')
	$('.fa-ban>Realizada').removeAttr('style')
}
  $('.confirmar').on('click', (e)=>{
    let id = e.target.classList.item(2)
	let estado2 = e.target.classList.item(4)
    let billetera = e.target.classList.item(5)
	let id_agenda = e.target.classList.item(3)
	console.log(estado2)
	if (estado2 == "Confirmada"){
		var titulo="Realizada";
		var texto="Seguro desea confirmar la venta indicada como 'Realizada'?";

	}else{
		var titulo="Confirmar";
		var texto="Seguro desea confirmar la venta indicada?";
	}
    Swal.fire({
  title: titulo,
  text: texto,
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: titulo
}).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/confirmar_venta/${id}/${estado2}/${billetera}/${id_agenda}`;
  }
})
  })

  $('.cancelar').on('click', (e)=>{
    let id = e.target.classList.item(2)
    let tipo = e.target.classList.item(3)
    Swal.fire({
  title: 'Cancelar',
  text: "Seguro desea cancelar la venta indicada!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: 'Eliminar'
}).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/cancelar_venta/${id}/${tipo}`;
  }
})
  })
}

});
</script>
<div class="page-container">
  <div class="main-content">
    <div class="section__content section__content--p30">
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="overview-wrap">
                <h2 class="title-1">
                  {{pageName}}
                </h2>
              </div>
            </div>
          </div>


	<div class="row">

		{{#if ventas}}
		<div class="col-12" style="margin-top: 1.5rem;">
			<div class="col-md-12">
            <div class="card-blank">
				<div class="row">
    <div class="col-sm">
                      <label for="inputState">Status</label>
                      <select id="status_filter" class="form-control" name="status_filter">
                        <option value="" selected>Todos</option>
						<option value="Confirmada" >Confirmada</option>
						<option value="Realizada" >Realizada</option>
						<option value="Por confirmar" >Por confirmar</option>                         
                      </select>

                    </div>
    <div class="col-sm">
                      
                    </div>
  </div>
              <div class="card-body">
				  <table border="0" cellspacing="5" cellpadding="5">
        <tbody><tr>
            <td>Fecha inicio:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Fecha final:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
    </tbody></table>
                <table class="table dataTable " id="tabla_">
                  <thead>
                    <tr>
                      <th>
					{{#if admin}}Usuario{{else}}Id{{/if}}
                      </th>
                      <th>
                        Fecha
                      </th>
                      <th>
                        Concepto
                      </th>
                      <th>
                        Status
                      </th>
                      <th>
                        Monto
                      </th>
					  <th>
                        Comprobante
                      </th>
					   <th>
                        Billetera
                      </th>
                      <th align="center">
                        Opciones
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each parsed_ventas as |venta i|}}
                    <tr>
                      <td>
                        {{#if ../admin}}{{venta.usuario.name}}{{else}}{{venta.id}}{{/if}}

                      </td>
					   <td>{{#formatoFecha venta.createdAt}}{{/formatoFecha}}</td>
                      <td>
                        {{venta.publicacione.titulo}}
                      </td>
                      <td >
                        <span><strong style="color: {{#ColorSucursal venta.estado}}{{/ColorSucursal}};" id="estado">{{venta.estado}}</strong></span>
							<div class="modal fade" id="exampleModalCenter{{venta.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
 
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 1000px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  
      <div class="modal-body">
      <div class="container" >
        <div class="row align-items-start" style="font-weight: bold;">
          <div class="col-sm"> Id </div> <div class="col-sm"> Fecha </div> <div class="col-sm">  Estado </div><div class="col-sm">
      Hora-Desde
    </div>
	<div class="col-sm">
      Hora-Hasta
    </div>
	<div class="col-sm">
      Empleado
    </div>
        </div>
        <div class="row" style="
    margin-top: 5px;
">
          <div class="col-sm">
      {{venta.Agenda.id}}
    </div>
    <div class="col-sm">
      {{venta.Agenda.fecha_agenda}}
    </div>
    <div class="col-sm">
      {{venta.Agenda.estado}}
    </div>
	<div class="col-sm">
      {{venta.Agenda.hora_cita_desde}}
    </div>
	<div class="col-sm">
      {{venta.Agenda.hora_cita_hasta}}
    </div>
	<div class="col-sm">
      {{venta.Agenda.encargadoId}}
    </div>
        </div>
		</div>
      </div>
    </div>
  </div>
</div>
                      </td>
                      <td>
                        S/ {{venta.monto}}
                      </td>
                      <td>
                       {{venta.comprobante}}
                      </td>
					  <td>
                      S/ {{venta.publicacione.billetera}}
                      </td>
                      <td align="center">
                        <div class="table-data-feature">
							<a class="item " data-toggle="modal" data-target="#exampleModalCenter{{venta.id}}" id="">
                            <i class="fas fa-calendar-alt  {{venta.id}}" style="color: green;"></i>
                          </a> 
							<a class="item confirmar {{venta.id}} {{venta.AgendaId}} {{venta.estado}} {{venta.publicacione.billetera}} "  data-toggle="tooltip"
                            data-placement="top" title="Confirmar" id="">
                            <i class="fas fa-check-circle  {{venta.id}} {{venta.AgendaId}} {{venta.estado}} {{venta.publicacione.billetera}} " style="color: green;"></i>
                          </a>
                          
                          <a class="item cancelar {{venta.id}} {{venta.estado}} negocio {{venta.AgendaId}}" href="#"
                            id="delete_venta" data-toggle="tooltip" data-placement="top" title="Cancelar">
                            <i class="fas fa-ban {{venta.id}} {{venta.estado}} negocio {{venta.AgendaId}}" style="color: red;"></i>
                          </a>
                        </div>
 

                      </td>
                    </tr>
                    {{/each}}            
				</tbody>

			</table>  </div>
            </div>
          </div>{{/if}}
		{{#if datos_pagos}}	<div class="col-12" style="margin-top: 1.5rem;">
			<form action="/guardar_datos_pago_wallet" method="post" class="p-to-btn" autocomplete="off" id="form_datos_wallet" enctype='multipart/form-data'>
			<input type="text" class="form-control-steps" id="id" name="id" placeholder="id"  value="{{user.id}}" hidden />
		<div class="form-update-account">
			<div class="form-update-account__item">
				<label class="form-steps__title" for="text">Nombre y Apellido</label>
				<div class="form-control-steps__container mb-3">
						<div class="form-control-steps__placeholder">
					<i class="fas fa-file-signature"></i>
						</div>
				
					<input type="text" class="form-control-steps"  id="nombre_apellido" name="nombre_apellido" placeholder="Nombre y Apellido" required {{#if parsed}}value="{{parsed.nombre_apellido}}"{{/if}}>
				</div>
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item" style="grid-row-end: 1;">
				<label class="form-steps__title" for="text">Tipo de documento</label>
				<div class="form-control-steps__container mb-3">
					<div class="form-control-steps__placeholder">
						<i class="fas fa-project-diagram"></i>
					</div>
					<i class="fa fa-angle-down form-control-steps__select-arrow"></i>
					<select class="form-control-steps" id="tipo_documento" name="tipo_documento" required style="background-color: #11111108;">	
						{{#if parsed}}<option value="{{parsed.tipo_documento}}" selected>{{parsed.tipo_documento}}</option>{{/if}}
						<option value="DNI">DNI</option>
						<option value="C.E">C.E</option>
						<option value="Pasaporte">Pasaporte</option>						
					</select>
				</div>
				
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item">
				<label class="form-steps__title" for="text">Número de documento</label>
				<div class="form-control-steps__container mb-3">
						<div class="form-control-steps__placeholder">
					<i class="fas fa-file-signature"></i>
						</div>
				
					<input type="text" class="form-control-steps onlynum"  id="n_documento" name="n_documento" placeholder="Número de documento" required {{#if parsed}}value="{{parsed.n_documento}}"{{/if}} maxlength="12">
				</div>
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item">
				<label class="form-steps__title" for="text">Correo</label>
				<div class="form-control-steps__container mb-3">
						<div class="form-control-steps__placeholder">
					<i class="fas fa-envelope"></i>
						</div>
				
					<input type="mail" class="form-control-steps"  id="correo" name="correo" placeholder="Correo electrónico" required {{#if parsed}}value="{{parsed.correo}}"{{/if}}>
				</div>
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item">
				<label class="form-steps__title">Selecciona el país</label>
			<div class="form-control-steps__container mb-3">
				<div class="form-control-steps__placeholder">
					<i class="fa fa-search-location"></i>
				</div>
				<i class="fa fa-angle-down form-control-steps__select-arrow"></i>
				<select name="pais" id="pais" class="form-control-steps" style="background-color: #11111108;" >
				{{#if pais_o}}<option value="Otros">Otros</option>{{else}}	{{#if parsed}}<option value="{{parsed.pais}}" selected>{{parsed.pais}}</option>{{/if}}{{/if}}
					<option value="Perú">Perú</option>
					<option value="Otros">Otros</option>
				</select>
			</div>
			<input type="text" class="form-control-steps" id="otro_pais" name="otro_pais" placeholder="Otro país" {{#if pais_o}} value="{{parsed.pais}}"  {{else}}disabled{{/if}}>
				
			</div><!-- .form-update-accound__item -->

			<div class="form-update-account__item">
				<label class="form-steps__title">Banco</label>
			<div class="form-control-steps__container mb-3">
				<div class="form-control-steps__placeholder">
					<i class="fa fa-university"></i>
				</div>
				<i class="fa fa-angle-down form-control-steps__select-arrow"></i>
				<select name="banco_peru" id="banco_peru" class="form-control-steps" style="background-color: #11111108;" {{#if pais_o}} disabled{{/if}}>
					{{#if pais_o}} {{else}}{{#if parsed}}<option value="{{parsed.banco}}" selected>{{parsed.banco}}</option>{{/if}}{{/if}}
					<option value="Banco de Comercio" >Banco de Comercio</option>
					<option value="Banco de Crédito del Perú">Banco de Crédito del Perú</option>
					<option value="Banco Interamericano de Finanzas (BanBif)" >Banco Interamericano de Finanzas (BanBif)</option>
					<option value="Banco Pichincha">Banco Pichincha</option>
					<option value="BBVA" >BBVA</option>
					<option value="Citibank Perú">Citibank Perú</option>
					<option value="Interbank" >Interbank</option>
					<option value="MiBanco">MiBanco</option>
					<option value="Scotiabank Perú" >Scotiabank Perú</option>
					<option value="Banco GNB Perú">Banco GNB Perú</option>
					<option value="Banco Falabella" >Banco Falabella</option>
					<option value="Banco Ripley">Banco Ripley</option>
					<option value="Banco Santander Perú" >Banco Santander Perú</option>
					<option value="Banco Azteca">Banco Azteca</option>
					<option value="Bank of China" >Bank of China</option>
					<option value="Cencosud Scotia">Cencosud Scotia</option>
					<option value="ICBC PERU BANK" >ICBC PERU BANK</option>
					<option value="Agrobanco">Agrobanco</option>
					<option value="Banco de la Nación">Banco de la Nación</option>
					<option value="COFIDE">COFIDE</option>
					<option value="Fondo MiVivienda">Fondo MiVivienda</option>
				</select>
			</div>
			<input type="text" class="form-control-steps" id="otro_pais_banco" name="otro_pais_banco" placeholder="Otro país" {{#if pais_o}} readonly = "true"{{else}}disabled{{/if}} value="WESTERM UNION">
				
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item total-cols">
				<label class="form-steps__title" for="user-name">Número de Cuenta</label>
				<div class="form-control-steps__container">
					<div class="form-control-steps__placeholder">
						<i class="fa fa-university"></i>
					</div>
					<input type="text" class="form-control-steps onlynum" id="cuenta" name="cuenta" placeholder="Número de Cuenta" {{#if parsed}} value="{{parsed.cuenta}}"{{/if}} maxlength="20">
				</div>
			</div><!-- .form-update-accound__item -->
		</div>
		<button type="submit" class="btn btn-primary btn-x-lg form-steps__btn" id="create-gate-btn">Guardar datos <i class="fa fa-check"></i></button>
		</form>	
		</div>{{/if}}

		{{#if recargar_backcoin}}	<div class="col-12" style="margin-top: 1.5rem;">
	<form action="/recargar_mi_saldo" method="post" class="p-to-btn" autocomplete="off" id="form_datos_wallet" enctype='multipart/form-data'>
		<input type="text" class="form-control-steps" id="id" name="id" placeholder="id"  value="{{user.id}}" hidden />
		
		<div class="form-update-account">
			<div class="form-update-account__item">
				<label class="form-steps__title" for="text">Introduzca cantidad de backcoins</label>
				<div class="form-control-steps__container mb-3">
						<div class="form-control-steps__placeholder">
					<i class="fas fa-file-signature"></i>
						</div>
					<input type="hidden" class=""  id="back_re" name="product" value="Backcoin"  >
					<input type="hidden" class=""  id="modo" name="modo" value="Recarga"  >
					<input type="text" class="form-control-steps onlynum"  id="back_re" name="amount" placeholder="1$ = 1 Backcoin"  >
				</div>
			</div><!-- .form-update-accound__item -->	
			<button type="submit" class="btn btn-primary btn-x-lg form-steps__btn" id="create-gate-btn" style="position: relative;height: 3rem; bottom: -1.5rem;"> Procesar <i class="fa fa-check"></i></button>		
		</div>
		
		</form>	
		</div>{{/if}}

		{{#if retirar_fondos}}	<div class="col-12" style="margin-top: 1.5rem;">
			<form action="/retirar_fondos" method="post" class="p-to-btn" autocomplete="off" id="form_datos_wallet" enctype='multipart/form-data'>
			<input type="text" class="form-control-steps" id="id" name="id" placeholder="id"  value="{{parsed.id}}" hidden />
		<div class="form-update-account">
			<div class="form-update-account__item">
				<label class="form-steps__title" for="text">Monto a Retirar</label>
				<div class="form-control-steps__container mb-3">
						<div class="form-control-steps__placeholder">
					<i class="fas fa-file-signature"></i>
						</div>
				
					<input type="text" class="form-control-steps onlynum"  id="monto_retiro" name="monto_retiro" placeholder="Monto a retirar" required>
				</div>
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item" style="grid-row-end: 1;">
				
				<div class="form-control-steps__container mb-3">
					<div class="form-control-steps__placeholder">
						<i class="fas fa-project-diagram"></i>
					</div>
					<div class="card bg-light mb-3" >
  						<div class="card-header" style="font-size: 1.3em;">Datos del retiro</div>
  							<div class="card-body" style="font-size: 1.3em;">
    							<h5 class="card-title">Nombre y Apellido</h5>
    							<p class="card-text">{{parsed.nombre_apellido}}</p>
								<h5 class="card-title">Documento</h5>
    							<p class="card-text">{{parsed.tipo_documento}} : {{parsed.n_documento}}</p>
								<h5 class="card-title">Correo</h5>
    							<p class="card-text">{{parsed.correo}}</p>
								<h5 class="card-title">País</h5>
    							<p class="card-text">{{parsed.pais}}</p>
								<h5 class="card-title">Banco</h5>
    							<p class="card-text">{{parsed.banco}}</p>
								<h5 class="card-title">Cuenta</h5>
    							<p class="card-text">{{parsed.cuenta}}</p>
								<h5 class="card-title">Monto a Retirar</h5>
    							<p class="card-text" id="monto_recarga"> </p>
  							</div>
						</div>
				</div>
				
			</div><!-- .form-update-accound__item -->
			
		<button type="submit" class="btn btn-primary btn-x-lg form-steps__btn" id="create-gate-btn">Guardar datos <i class="fa fa-check"></i></button>
		</form>	
		</div>{{/if}}

		{{#if movimientos_retiros}}<div class="col-12" style="margin-top: 1.5rem;">
			<table class="table table-striped table-hover" id="tabla_">
				<p class="text-center font-weight-bold h3" style="margin-bottom: 1.5rem;">Retiros</p>
				<thead class="thead-dark">
					<tr>
						<th class="text-xs-center">
									Nº Retiro
								</th>
								<th class="text-xs-center">
									Monto
								</th>
								<th class="text-xs-center">
									Fecha de Solicitud
								</th>
								<th class="text-xs-center">
									Estado
								</th>
								<th class="text-xs-center">
									Fecha de Pago
								</th>
								<th class="text-xs-center">
									Comprobante
								</th>
								<th class="text-xs-center">
									Observación
								</th>
					</tr>
				</thead>
				<tbody>
	{{#each parsed_retiros as |retiros i|}}	 
			<tr class="pagedemo ">
				<td>{{retiros.id}}</td>
				<td>${{retiros.monto}}</td>
				<td>{{#formatoFecha2 retiros.fecha_solicitud}}{{/formatoFecha2}}</td>
				<td>{{retiros.status}}</td>
				<td>{{#if retiros.fecha_pago}}{{#formatoFecha2 retiros.fecha_pago}}{{/formatoFecha2}}{{/if}}</td>
				<td><a href="{{#if retiros.comprobante_pago}}/assets/uploads/{{retiros.comprobante_pago}}{{/if}}">{{#if retiros.comprobante_pago}}Click Para ver{{/if}}</a>
					</td>
				<td>{{retiros.observacion}}</td>
				</tr>		
	{{/each}}
					
				</tbody>
				<tfoot>
	<td><input type="button" id="cargar_primera_pagina" value="<< Primero"/></td>
	<td><input type="button" id="cargar_anterior_pagina" value="< Anterior"/></td>
	<td id="indicador_paginas"></td>
	<td><input type="button" id="cargar_siguiente_pagina" value="Siguiente >"/></td>
	<td><input type="button" id="cargar_ultima_pagina" value="Ultimo >>"/></td>
</tfoot>
			</table>
		</div>{{/if}}

	</div>


  </div>
		  </main>
		  </div>
		  </div>
		  </div>
