<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
	$( document ).ready(function() {
// otro genero
	const pais = document.getElementById('pais');
	const otro_pais = document.getElementById('otro_pais');
	const banco = document.getElementById('banco_peru');
	const otro_banco = document.getElementById('otro_pais_banco');
	const cuenta= document.getElementById('cuenta');
	
	if(pais && otro_pais) {
		const btnGender = pais.parentElement.parentElement.parentElement.querySelector('button[data-step-page]');
		otro_pais.addEventListener('input', () => {
			if(otro_pais.validity.valid) {
				otro_pais.removeAttribute('disabled');
			}else {
				otro_pais.setAttribute('disabled', 'true');
			}
		});

		pais.addEventListener('change', () => {
			const option = pais.options[pais.selectedIndex].value;

			if(option === 'Otros') {
				otro_pais.removeAttribute('disabled');
				otro_pais.setAttribute('required', 'true');
				//btnGender.setAttribute('disabled', 'true');

				otro_banco.removeAttribute('disabled');
				otro_banco.setAttribute('required', 'true');
				otro_banco.setAttribute('readonly', 'true');

				banco.setAttribute('disabled', 'disabled');
				cuenta.setAttribute('disabled', 'disabled');
			}else if(option === 'Perú') {
				otro_pais.value = '';
				otro_pais.setAttribute('disabled', 'true');
				//btnGender.setAttribute('disabled', 'true');

				otro_banco.setAttribute('disabled', 'true');
				banco.removeAttribute('disabled');
				cuenta.removeAttribute('disabled');
			}else {
				otro_pais.value = '';
				otro_pais.setAttribute('disabled', 'true');
				//btnGender.removeAttribute('disabled');

				otro_banco.setAttribute('disabled', 'true');
				otro_banco.removeAttribute('readonly');
				banco.removeAttribute('disabled');
				cuenta.removeAttribute('disabled');
			}
		});
	}

$( ".onlynum" ).keypress(function(evt) {
   
    // code is the decimal ASCII representation of the pressed key.
    var code = (evt.which) ? evt.which : evt.keyCode;
    
    if(code==8) { // backspace.
      return true;
    } else if(code>=48 && code<=57) { // is a number.
      return true;
    } else{ // other keys.
      return false;
    }
});	
});
</script>
{{#if msg}}
<script>
	$( document ).ready(function() {
    if ( $("#msgs").length ) {
     let mensaje = `{{msg}}`;
	 console.log("mensaje");
	 Swal.fire(mensaje)
	}
}); 
</script>
<label id="msgs"></label>
{{/if}}
<style>
	table>thead>tr{font-weight: bolder;}
.linea-oculta{display: none;}
.ingreso{
	color: green;
}
.egreso{
	color:red;
}
.card-title{
	    font-size: 1em;
}
</style>
<script>
var resultados_por_pagina = 6;
var pagina_actual = 1;
var pagina_ultima = 0;
	$( document ).ready(function() {
		$('#monto_retiro').keyup(function(){
			console.log('hola')
			let retiro = parseFloat($('#monto_retiro').val())
			let saldo = parseFloat($('#backcoins_').text())
			if ( retiro > saldo ){
				$('#monto_recarga').text('SALDO INSUFICIENTE')
			}else{
				console.log(retiro)
				console.log(saldo)
				
			$('#monto_recarga').text('$'+ $('#monto_retiro').val())	
			}
			

		})


   jQuery("#buscador").keyup(function(){
	console.log("hola mundo")
    if( jQuery(this).val() != ""){
        jQuery("#tabla_ tbody>tr").hide();
        jQuery("#tabla_ td:contiene-palabra('" + jQuery(this).val() + "')").parent("tr").show();
    }
    else{
        jQuery("#tabla_ tbody>tr").show();
    }
});
 
jQuery.extend(jQuery.expr[":"], 
{
    "contiene-palabra": function(elem, i, match, array) {
        return (elem.textContent || elem.innerText || jQuery(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
    }
});
//contar todos los registros que tenemos
	var total_registros = $("#tabla_>tbody>tr").length;
	//saber cuantas paginas vamos a mostrar
	pagina_ultima = Math.round(total_registros / resultados_por_pagina);
	//cargar la primera pagina
	cargarPagina(pagina_actual);
	//eventos para los botones
	$("#cargar_primera_pagina").click(function(){
		cargarPagina(1);
	});
	$("#cargar_anterior_pagina").click(function(){
		cargarPagina(pagina_actual - 1);
	});
	$("#cargar_siguiente_pagina").click(function(){
		cargarPagina(pagina_actual + 1);
	});
	$("#cargar_ultima_pagina").click(function(){
		cargarPagina(pagina_ultima);
	});
});
var cargarPagina = function(intPaginaP){
	//evaluar si la pagina a cargar es mayor que el numero de paginas o es menor que 1
	if(intPaginaP < 1){intPaginaP = 1;}
	if(intPaginaP > pagina_ultima){intPaginaP = pagina_ultima;}
	//ocultar todas las lineas
	$("#tabla_>tbody>tr").addClass("linea-oculta");
	var primer_registro = (intPaginaP - 1) * resultados_por_pagina;
	for (var i = primer_registro; i < (primer_registro + resultados_por_pagina); i++){
		$("#tabla_>tbody>tr").eq(i).removeClass("linea-oculta");
	}
	//indicar en qué pagina estamos
	pagina_actual = intPaginaP;
	$("#indicador_paginas").html("Página: " + pagina_actual + " / " + pagina_ultima);
}
</script>
<div class="page-container">
  <div class="main-content">
    <div class="section__content section__content--p30">
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="overview-wrap">
                <h2 class="title-1">
                  Mis Publicaciones
                </h2>
              </div>
            </div>
          </div>


	<div class="row">
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card card-box text-center border-0 bg-gradient text-white">
				<h2 style="line-height: 1.5;">Mi saldo<br>{{user.backcoins}} Backcoins</h2>
				<label id="backcoins_" hidden>{{user.backcoins}}</label>
			</div>
		</div>
		<div class="col-lg-6 d-lg-flex flex-column justify-content-between" style="font-size: 14px;">
			<a href="/recargar_backcoin" class="btn btn-primary btn-block mb-3 mb-lg-0">Recargar mi saldo</a>
			<a href="/retirar_fondos" class="btn btn-primary btn-block mb-3 mb-lg-0">Retirar fondos</a>
			<a href="/datos_wallet" class="btn btn-primary btn-block mb-3 mb-lg-0">Mis datos de pago</a>
			<a href="/mis_retiros" class="btn btn-primary btn-block mb-3 mb-lg-0">Mis retiros</a>
		</div>

		{{#if movimientos}}<div class="col-12" style="margin-top: 1.5rem;">
			<div class="col-md-12">
            <div class="card-blank">
              <div class="card-body">
                <div class="float-right">
                  <a href="/crear_publicacion">
                    Crear Publicación
                  </a>
                </div>
                <table class="table dataTable" id="tabla_mis_publicaciones">
                  <thead>
                    <tr>
                      <th>

                      </th>
                      <th>
                        Título
                      </th>
                      <th>
                        Estado
                      </th>
                      <th>
                        Precio
                      </th>
                      <th>
                        D. Billetera
                      </th>
                      <th align="center">
                        Opciones
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each publicaciones as |publicacion i|}}
                    <tr>
                      <td>
                        <center>
                          <img id="imageSelected1" class="img-fluid"
                            src="../assets/img_up/{{#fotoPrincipalPublicacion publicacion.fotos}}{{/fotoPrincipalPublicacion}}"
                            width="70px" />
                        </center>
                      </td>
                      <td>
                        {{publicacion.titulo}}
                      </td>
                      <td>
                        <span>
                          <strong style="color: {{#ColorSucursal publicacion.estado}}{{/ColorSucursal}};">
                            {{publicacion.estado}}
                          </strong>
                        </span>
                      </td>
                      <td>
                        S/ {{publicacion.precio}}
                      </td>
                      <td>
                        S/ {{publicacion.billetera}}
                      </td>
                      <td align="center">
                        <div class="table-data-feature">
                          <a class="item" href="/editar_publicacion/{{publicacion.id}}" data-toggle="tooltip"
                            data-placement="top" title="Editar" id="empleados_button">
                            <i class="fas fa-edit"></i>
                          </a>
                          <a class="item delete {{publicacion.id}} {{publicacion.tipo}}" href="#"
                            id="delete_publicacion" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                            <i class="fas fa-trash-alt {{publicacion.id}} {{publicacion.tipo}}"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    {{/each}}            
				</tbody>
				<tfoot>
	<td><input type="button" id="cargar_primera_pagina" value="<< Primero"/></td>
	<td><input type="button" id="cargar_anterior_pagina" value="< Anterior"/></td>
	<td id="indicador_paginas"></td>
	<td><input type="button" id="cargar_siguiente_pagina" value="Siguiente >"/></td>
	<td><input type="button" id="cargar_ultima_pagina" value="Ultimo >>"/></td>
</tfoot>
			</table>  </div>
            </div>
          </div>{{/if}}
		{{#if datos_pagos}}	<div class="col-12" style="margin-top: 1.5rem;">
			<form action="/guardar_datos_pago_wallet" method="post" class="p-to-btn" autocomplete="off" id="form_datos_wallet" enctype='multipart/form-data'>
			<input type="text" class="form-control-steps" id="id" name="id" placeholder="id"  value="{{user.id}}" hidden />
		<div class="form-update-account">
			<div class="form-update-account__item">
				<label class="form-steps__title" for="text">Nombre y Apellido</label>
				<div class="form-control-steps__container mb-3">
						<div class="form-control-steps__placeholder">
					<i class="fas fa-file-signature"></i>
						</div>
				
					<input type="text" class="form-control-steps"  id="nombre_apellido" name="nombre_apellido" placeholder="Nombre y Apellido" required {{#if parsed}}value="{{parsed.nombre_apellido}}"{{/if}}>
				</div>
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item" style="grid-row-end: 1;">
				<label class="form-steps__title" for="text">Tipo de documento</label>
				<div class="form-control-steps__container mb-3">
					<div class="form-control-steps__placeholder">
						<i class="fas fa-project-diagram"></i>
					</div>
					<i class="fa fa-angle-down form-control-steps__select-arrow"></i>
					<select class="form-control-steps" id="tipo_documento" name="tipo_documento" required style="background-color: #11111108;">	
						{{#if parsed}}<option value="{{parsed.tipo_documento}}" selected>{{parsed.tipo_documento}}</option>{{/if}}
						<option value="DNI">DNI</option>
						<option value="C.E">C.E</option>
						<option value="Pasaporte">Pasaporte</option>						
					</select>
				</div>
				
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item">
				<label class="form-steps__title" for="text">Número de documento</label>
				<div class="form-control-steps__container mb-3">
						<div class="form-control-steps__placeholder">
					<i class="fas fa-file-signature"></i>
						</div>
				
					<input type="text" class="form-control-steps onlynum"  id="n_documento" name="n_documento" placeholder="Número de documento" required {{#if parsed}}value="{{parsed.n_documento}}"{{/if}} maxlength="12">
				</div>
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item">
				<label class="form-steps__title" for="text">Correo</label>
				<div class="form-control-steps__container mb-3">
						<div class="form-control-steps__placeholder">
					<i class="fas fa-envelope"></i>
						</div>
				
					<input type="mail" class="form-control-steps"  id="correo" name="correo" placeholder="Correo electrónico" required {{#if parsed}}value="{{parsed.correo}}"{{/if}}>
				</div>
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item">
				<label class="form-steps__title">Selecciona el país</label>
			<div class="form-control-steps__container mb-3">
				<div class="form-control-steps__placeholder">
					<i class="fa fa-search-location"></i>
				</div>
				<i class="fa fa-angle-down form-control-steps__select-arrow"></i>
				<select name="pais" id="pais" class="form-control-steps" style="background-color: #11111108;" >
				{{#if pais_o}}<option value="Otros">Otros</option>{{else}}	{{#if parsed}}<option value="{{parsed.pais}}" selected>{{parsed.pais}}</option>{{/if}}{{/if}}
					<option value="Perú">Perú</option>
					<option value="Otros">Otros</option>
				</select>
			</div>
			<input type="text" class="form-control-steps" id="otro_pais" name="otro_pais" placeholder="Otro país" {{#if pais_o}} value="{{parsed.pais}}"  {{else}}disabled{{/if}}>
				
			</div><!-- .form-update-accound__item -->

			<div class="form-update-account__item">
				<label class="form-steps__title">Banco</label>
			<div class="form-control-steps__container mb-3">
				<div class="form-control-steps__placeholder">
					<i class="fa fa-university"></i>
				</div>
				<i class="fa fa-angle-down form-control-steps__select-arrow"></i>
				<select name="banco_peru" id="banco_peru" class="form-control-steps" style="background-color: #11111108;" {{#if pais_o}} disabled{{/if}}>
					{{#if pais_o}} {{else}}{{#if parsed}}<option value="{{parsed.banco}}" selected>{{parsed.banco}}</option>{{/if}}{{/if}}
					<option value="Banco de Comercio" >Banco de Comercio</option>
					<option value="Banco de Crédito del Perú">Banco de Crédito del Perú</option>
					<option value="Banco Interamericano de Finanzas (BanBif)" >Banco Interamericano de Finanzas (BanBif)</option>
					<option value="Banco Pichincha">Banco Pichincha</option>
					<option value="BBVA" >BBVA</option>
					<option value="Citibank Perú">Citibank Perú</option>
					<option value="Interbank" >Interbank</option>
					<option value="MiBanco">MiBanco</option>
					<option value="Scotiabank Perú" >Scotiabank Perú</option>
					<option value="Banco GNB Perú">Banco GNB Perú</option>
					<option value="Banco Falabella" >Banco Falabella</option>
					<option value="Banco Ripley">Banco Ripley</option>
					<option value="Banco Santander Perú" >Banco Santander Perú</option>
					<option value="Banco Azteca">Banco Azteca</option>
					<option value="Bank of China" >Bank of China</option>
					<option value="Cencosud Scotia">Cencosud Scotia</option>
					<option value="ICBC PERU BANK" >ICBC PERU BANK</option>
					<option value="Agrobanco">Agrobanco</option>
					<option value="Banco de la Nación">Banco de la Nación</option>
					<option value="COFIDE">COFIDE</option>
					<option value="Fondo MiVivienda">Fondo MiVivienda</option>
				</select>
			</div>
			<input type="text" class="form-control-steps" id="otro_pais_banco" name="otro_pais_banco" placeholder="Otro país" {{#if pais_o}} readonly = "true"{{else}}disabled{{/if}} value="WESTERM UNION">
				
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item total-cols">
				<label class="form-steps__title" for="user-name">Número de Cuenta</label>
				<div class="form-control-steps__container">
					<div class="form-control-steps__placeholder">
						<i class="fa fa-university"></i>
					</div>
					<input type="text" class="form-control-steps onlynum" id="cuenta" name="cuenta" placeholder="Número de Cuenta" {{#if parsed}} value="{{parsed.cuenta}}"{{/if}} maxlength="20">
				</div>
			</div><!-- .form-update-accound__item -->
		</div>
		<button type="submit" class="btn btn-primary btn-x-lg form-steps__btn" id="create-gate-btn">Guardar datos <i class="fa fa-check"></i></button>
		</form>	
		</div>{{/if}}

		{{#if recargar_backcoin}}	<div class="col-12" style="margin-top: 1.5rem;">
	<form action="/recargar_mi_saldo" method="post" class="p-to-btn" autocomplete="off" id="form_datos_wallet" enctype='multipart/form-data'>
		<input type="text" class="form-control-steps" id="id" name="id" placeholder="id"  value="{{user.id}}" hidden />
		
		<div class="form-update-account">
			<div class="form-update-account__item">
				<label class="form-steps__title" for="text">Introduzca cantidad de backcoins</label>
				<div class="form-control-steps__container mb-3">
						<div class="form-control-steps__placeholder">
					<i class="fas fa-file-signature"></i>
						</div>
					<input type="hidden" class=""  id="back_re" name="product" value="Backcoin"  >
					<input type="hidden" class=""  id="modo" name="modo" value="Recarga"  >
					<input type="text" class="form-control-steps onlynum"  id="back_re" name="amount" placeholder="1$ = 1 Backcoin"  >
				</div>
			</div><!-- .form-update-accound__item -->	
			<button type="submit" class="btn btn-primary btn-x-lg form-steps__btn" id="create-gate-btn" style="position: relative;height: 3rem; bottom: -1.5rem;"> Procesar <i class="fa fa-check"></i></button>		
		</div>
		
		</form>	
		</div>{{/if}}

		{{#if retirar_fondos}}	<div class="col-12" style="margin-top: 1.5rem;">
			<form action="/retirar_fondos" method="post" class="p-to-btn" autocomplete="off" id="form_datos_wallet" enctype='multipart/form-data'>
			<input type="text" class="form-control-steps" id="id" name="id" placeholder="id"  value="{{parsed.id}}" hidden />
		<div class="form-update-account">
			<div class="form-update-account__item">
				<label class="form-steps__title" for="text">Monto a Retirar</label>
				<div class="form-control-steps__container mb-3">
						<div class="form-control-steps__placeholder">
					<i class="fas fa-file-signature"></i>
						</div>
				
					<input type="text" class="form-control-steps onlynum"  id="monto_retiro" name="monto_retiro" placeholder="Monto a retirar" required>
				</div>
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item" style="grid-row-end: 1;">
				
				<div class="form-control-steps__container mb-3">
					<div class="form-control-steps__placeholder">
						<i class="fas fa-project-diagram"></i>
					</div>
					<div class="card bg-light mb-3" >
  						<div class="card-header" style="font-size: 1.3em;">Datos del retiro</div>
  							<div class="card-body" style="font-size: 1.3em;">
    							<h5 class="card-title">Nombre y Apellido</h5>
    							<p class="card-text">{{parsed.nombre_apellido}}</p>
								<h5 class="card-title">Documento</h5>
    							<p class="card-text">{{parsed.tipo_documento}} : {{parsed.n_documento}}</p>
								<h5 class="card-title">Correo</h5>
    							<p class="card-text">{{parsed.correo}}</p>
								<h5 class="card-title">País</h5>
    							<p class="card-text">{{parsed.pais}}</p>
								<h5 class="card-title">Banco</h5>
    							<p class="card-text">{{parsed.banco}}</p>
								<h5 class="card-title">Cuenta</h5>
    							<p class="card-text">{{parsed.cuenta}}</p>
								<h5 class="card-title">Monto a Retirar</h5>
    							<p class="card-text" id="monto_recarga"> </p>
  							</div>
						</div>
				</div>
				
			</div><!-- .form-update-accound__item -->
			
		<button type="submit" class="btn btn-primary btn-x-lg form-steps__btn" id="create-gate-btn">Guardar datos <i class="fa fa-check"></i></button>
		</form>	
		</div>{{/if}}

		{{#if movimientos_retiros}}<div class="col-12" style="margin-top: 1.5rem;">
			<table class="table table-striped table-hover" id="tabla_">
				<p class="text-center font-weight-bold h3" style="margin-bottom: 1.5rem;">Retiros</p>
				<thead class="thead-dark">
					<tr>
						<th class="text-xs-center">
									Nº Retiro
								</th>
								<th class="text-xs-center">
									Monto
								</th>
								<th class="text-xs-center">
									Fecha de Solicitud
								</th>
								<th class="text-xs-center">
									Estado
								</th>
								<th class="text-xs-center">
									Fecha de Pago
								</th>
								<th class="text-xs-center">
									Comprobante
								</th>
								<th class="text-xs-center">
									Observación
								</th>
					</tr>
				</thead>
				<tbody>
	{{#each parsed_retiros as |retiros i|}}	 
			<tr class="pagedemo ">
				<td>{{retiros.id}}</td>
				<td>${{retiros.monto}}</td>
				<td>{{#formatoFecha2 retiros.fecha_solicitud}}{{/formatoFecha2}}</td>
				<td>{{retiros.status}}</td>
				<td>{{#if retiros.fecha_pago}}{{#formatoFecha2 retiros.fecha_pago}}{{/formatoFecha2}}{{/if}}</td>
				<td><a href="{{#if retiros.comprobante_pago}}/assets/uploads/{{retiros.comprobante_pago}}{{/if}}">{{#if retiros.comprobante_pago}}Click Para ver{{/if}}</a>
					</td>
				<td>{{retiros.observacion}}</td>
				</tr>		
	{{/each}}
					
				</tbody>
				<tfoot>
	<td><input type="button" id="cargar_primera_pagina" value="<< Primero"/></td>
	<td><input type="button" id="cargar_anterior_pagina" value="< Anterior"/></td>
	<td id="indicador_paginas"></td>
	<td><input type="button" id="cargar_siguiente_pagina" value="Siguiente >"/></td>
	<td><input type="button" id="cargar_ultima_pagina" value="Ultimo >>"/></td>
</tfoot>
			</table>
		</div>{{/if}}

	</div>


  </div>
		  </main>
		  </div>
		  </div>
		  </div>
