<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
	function copyToClipboard(elemento) {
		var $temp = $("<input>")
		$("body").append($temp);
		$temp.val($(elemento).text()).select();
		document.execCommand("copy");
		$temp.remove();
		Swal.fire('Enlace copiado en el portapapeles')
	  }
	  function color_maingate(id_1, id_2){
		let colorInput = document.getElementById(id_2);
		let pintar = document.getElementById(id_1);
		pintar.setAttribute('style','color:' +colorInput.value);
		console.log(id_1 +id_2)
	}
	function color_back(id_1, id_2){
		let colorInput = document.getElementById(id_2);
		let pintar = document.getElementById(id_1);
		pintar.setAttribute('style','background:' +colorInput.value);
		console.log(id_1 +id_2)
	}
	 
</script>
<script>
	$( document ).ready(function() {

		$('#music-price').on('keyup',function() {

console.log("hola")
let igv = parseFloat($('#music-price').val()) * parseFloat(0.18);
let igv_r = igv.toFixed(2)
$('#igv').text(igv_r)
let total = (parseFloat($('#music-price').val()) + parseFloat(igv_r)).toFixed(2)
$('#total').text(total)
$('#total_').val(total)

})

		$('#programado').on('change', function(){
			console.log("hello")
			$('#fecha_programa').removeAttr('disabled')
			$('#fecha_programa').removeAttr('hidden')
		})
		
		$('#publico_').on('change', function(){
			console.log("hello2")
			$('#fecha_programa').prop('disabled', true)
			$('#fecha_programa').prop('hidden', true)
		})



		document.getElementById("music-title").addEventListener('change', () => {
		document.getElementById("color_title").innerHTML = document.getElementById("music-title").value + `<label class="input-color-label" for="input-color_titulo" >
  <i class="fas fa-brush" style="margin-left: 15px; color: white;cursor: pointer;" ></i></label> `
		});
	
		document.getElementById("music-desc").addEventListener('change', () => {
		document.getElementById("color_descrip").innerHTML = document.getElementById("music-desc").value + `<label class="input-color-label" for="input-color_descripcion">
  <i class="fas fa-brush" style="margin-left: 15px; color: white;cursor: pointer;" ></i></label>`
		});
	
		document.getElementById("artist-name").addEventListener('change', () => {
		document.getElementById("gate-name-dj").innerHTML = document.getElementById("artist-name").value
		});
		var checkboxYT = document.querySelector("input[name=suscribir_youtube]");
		var like_facebook = document.querySelector("input[name=like_facebook]");
		var seguir_twitter = document.querySelector("input[name=seguir_twitter]");
		var seguir_soundcloud = document.querySelector("input[name=seguir_soundcloud]");
		var seguir_instagram = document.querySelector("input[name=seguir_instagram]");
		var seguir_spotify = document.querySelector("input[name=seguir_spotify]");
		var seguir_deezer = document.querySelector("input[name=seguir_deezer]");
		var seguir_tiktok = document.querySelector("input[name=seguir_tiktok]");
		var seguir_mixcloud = document.querySelector("input[name=seguir_mixcloud]");
	
		
		checkboxYT.addEventListener('change', () => {
				if ($('#youtube-square').is(':visible') ) {
	$('#youtube-square').hide();
	}else{
	$('#youtube-square').show();
	}
		});
	
		like_facebook.addEventListener('change', () => {
				if ($('#facebook-square').is(':visible') ) {
	$('#facebook-square').hide();
	}else{
	$('#facebook-square').show();
	}
		});
		seguir_twitter.addEventListener('change', () => {
				if ($('#twitter-square').is(':visible') ) {
	$('#twitter-square').hide();
	}else{
	$('#twitter-square').show();
	}
		});
		seguir_soundcloud.addEventListener('change', () => {
				if ($('#soundcloud-square').is(':visible') ) {
	$('#soundcloud-square').hide();
	}else{
	$('#soundcloud-square').show();
	}
		});
		seguir_instagram.addEventListener('change', () => {
				if ($('#instagram-square').is(':visible') ) {
	$('#instagram-square').hide();
	}else{
	$('#instagram-square').show();
	}
		});
		seguir_spotify.addEventListener('change', () => {
				if ($('#spotify-square').is(':visible') ) {
	$('#spotify-square').hide();
	}else{
	$('#spotify-square').show();
	}
		});
		seguir_deezer.addEventListener('change', () => {
				if ($('#deezer-square').is(':visible') ) {
	$('#deezer-square').hide();
	}else{
	$('#deezer-square').show();
	}
		});
		seguir_tiktok.addEventListener('change', () => {
				if ($('#tiktok-square').is(':visible') ) {
	$('#tiktok-square').hide();
	}else{
	$('#tiktok-square').show();
	}
		});
	seguir_mixcloud.addEventListener('change', () => {
				if ($('#mixcloud-square').is(':visible') ) {
	$('#mixcloud-square').hide();
	}else{
	$('#mixcloud-square').show();
	}
		});
	

		var texto = document.getElementById('chek_gate-link').value,
    textoseparado = texto.split(",");
	var gate_link = document.querySelector("input[name=gate_link]");

		
		gate_link.addEventListener('change', () => {
			
			console.log(gate_link.value)
			let pos = textoseparado.indexOf(gate_link.value) // (pos) es la posición para abreviar
			if (pos >= 1){
				Swal.fire("El nombre del link ya se encuentra registrado, elija otro por favor")
				gate_link.value = "";
			}else{
				console.log("Todo Fino")
			}


		});

$('#url-demo').on('keyup',function() {
const btna = document.getElementById('btn_url');
let link         = document.getElementById('url-demo').value,
    link_ = link.split('/')
	console.log(link_.length)
	if ($('.bondgate_link')){
		
	}else{
	if(link_[0] == "https:" && link_[2] == "soundcloud.com" && link_.length > 4){
		console.log("correcto")
		btna.removeAttribute('disabled');
	}else if(link_[0] == "https:" && link_[2] == "soundcloud.es" && link_.length > 4){
		console.log("correcto1")
		btna.removeAttribute('disabled');
	}else{
		console.log("malo")
		btna.setAttribute('disabled', true);
	}	
	}
	
})


}); 
</script>
<nav class="steps-nav">
	<!-- Step Nav Items -->
	{{#if backstore}}{{/if}}{{#if fileGate}}
		<div class="steps-nav__item">
			<div class="steps-nav__number active">1</div>
		</div>
		<div class="steps-nav__item">
			<div class="steps-nav__number">2</div>
		</div>
	{{/if}}
	<div class="steps-nav__item">
		<div class="steps-nav__number">3</div>
	</div>
	<div class="steps-nav__item">
		<div class="steps-nav__number">4</div>
	</div>
	<div class="steps-nav__item">
		<div class="steps-nav__number">5</div>
	</div>
	<div class="steps-nav__item">
		<div class="steps-nav__number">6</div>
	</div>
	<div class="steps-nav__item">
		<div class="steps-nav__number">7</div>
	</div>
	<div class="steps-nav__item not-after-line">
		<div class="steps-nav__number">8</div>
		<div class="steps-nav__line"></div>
		<div class="steps-nav__number">9</div>
	</div>
	<!-- End Steps Nav Items -->

	<!-- Steps Nav Desc -->
	<div class="steps-nav__desc">
		<p>Paso 1</p>
		<p>{{#if backstore}}{{/if}}{{#if bondGate}}{{/if}}{{#if fileGate}}{{/if}}</p>
	</div>
	<!-- End Steps Nav Desc -->
</nav>

<form action="/create-gate" method="POST" class="form-steps {{#if backstore }}form-steps--backstore{{/if}}" autocomplete="off">
						{{#if backstore}}<input type="text"  name="tipo_create" value="backstore" hidden>{{/if}}
						{{#if fileGate}}<input type="text"  name="tipo_create" value="filegate" hidden>{{/if}}
						{{#if bondGate}}<input type="text"  name="tipo_create" value="bondgate" hidden>{{/if}}
	<!-- Section Step -->
	{{#if backstore}}{{else}}
		<section class="section-step show" data-step-desc="Fuente">
			<div class="input-and-title">
				<h2 class="form-steps__title">Ingresa la URL de {{#if fileGate}}SounCloud{{/if}}{{#if bondGate}} enlace secreto{{/if}}</h2>
				<div class="form-control-steps__container">
					<div class="form-control-steps__placeholder">
						<i class="fa fa-globe"></i>
					</div>
					<input type="url" class="form-control-steps {{#if bondGate}} bondgate_link{{/if}}" id="url-demo" name="url_demo" placeholder="https://" required>
				</div>
			</div>
			<button type="button" disabled class="btn btn-primary btn-x-lg form-steps__btn" id="btn_url">Siguiente <i class="fa fa-angle-right"></i></button>
		</section>
	{{/if}}
	
	
	<!-- End Section Step -->

	<!-- Section Step -->
	<section class="section-step {{#if backstore}}show{{/if}}" data-step-desc="Género">
		<div class="input-and-title">
			<h2 class="form-steps__title">Selecciona el género de tu título</h2>
			<div class="form-control-steps__container mb-3">
				<div class="form-control-steps__placeholder">
					<i class="fa fa-music"></i>
				</div>
				<i class="fa fa-angle-down form-control-steps__select-arrow"></i>
				<select name="gender" id="gender" class="form-control-steps">
					<option value="default" selected>Selecciona el género</option>
					<option value="bachata">Bachata</option>
					<option value="baladas">Baladas</option>
					<option value="bolero">Bolero</option>
					<option value="criollo">Criollo</option>
					<option value="cumbia">Cumbia</option>
					<option value="disco">Disco</option>
					<option value="electronica">Electrónica</option>
					<option value="fiesta">Fiesta</option>
					<option value="hip-hop">Hip Hop</option>
					<option value="hauyno">Huayno</option>
					<option value="infantil">Infantil</option>
					<option value="latin">Latin</option>
					<option value="lambada">Lambada</option>
					<option value="mambo">Mambo</option>
					<option value="merengue">Merengue</option>
					<option value="moombahton">Moombahton</option>
					<option value="reggae">Reggae</option>
					<option value="reggaeton">Reggaeton</option>
					<option value="rock">Rock</option>
					<option value="salsa">Salsa</option>
					<option value="saya">Saya</option>
					<option value="techno">Techno</option>
					<option value="tematicos">Temáticos</option>
					<option value="trap">Trap</option>
					<option value="tribal">Tribal</option>
					<option value="vallenato">Vallenato</option>
					<option value="villera">Villera</option>
					<option value="pop">Pop</option>
					<option value="transiciones">Transiciones</option>
					<option value="other">Otros</option>
				</select>
			</div>
			<input type="text" class="form-control-steps" id="other-gender" name="other_gender" placeholder="Otro género" disabled>
		</div>

		<button type="button" class="btn btn-primary btn-x-lg form-steps__btn" disabled>Siguiente <i class="fa fa-angle-right"></i></button>
	</section>
	<!-- End Section Step -->

	<!-- Section Step -->
	
		{{#if bondGate}}
		
		{{else}}
		<section class="section-step" data-step-desc="Subir">
			<h2 class="form-steps__title">Sube el archivo de audio que te gustaría {{#if backstore}}vender{{else}}compartir{{/if}}<br>con los fans ({{#acceptFiles user.membership false}}{{/acceptFiles}})</h2>
		
			<div id="upload-audio" class="drop-area">
				<input type="file" id="music-file" accept="{{#acceptFiles user.membership true}}{{/acceptFiles}}" class="d-none" 
				data-max-size-file="{{#if user.basic}}10{{/if}}{{#if user.vip}}1000{{/if}}{{#if user.gold}}unlimited{{/if}}">
				<input type="text" id="archivo1"  class="form-control-steps" name='archivo1' value="" hidden>
				<div class="drop-content">
					<div class="drop-icon" id="drop-icon">
						<i class="fa fa-upload"></i>
					</div>
					<div class="info-drop">
						<label for="music-file">Elije un archivo</label>
					</div>
				</div>
				<div id="resultado_zip"></div>
			</div>
		
		
		<button type="button" class="btn btn-primary btn-x-lg form-steps__btn" disabled="">Siguiente <i class="fa fa-angle-right"></i></button>
	</section>{{/if}}
	<!-- End Section Step -->

	<!-- Section Step -->
	<section class="section-step" data-step-desc="Título">
		<div class="form-row">
			<div class="col-12 col-md-6 mb-3">
				<label class="form-steps__title" for="artist-name">Ingresa el nombre del artista</label>
				<div class="form-control-steps__container">
					<div class="form-control-steps__placeholder">
						<i class="fa fa-user"></i>
					</div>
					<input type="text" class="form-control-steps" id="artist-name" name="artist_name" placeholder="Nombre del artista" required>
				</div>
			</div><!-- .col-md-6 -->
			<div class="col-12 col-md-6 mb-3">
				<label class="form-steps__title" for="music-title">Ingresa el título</label>
				<div class="form-control-steps__container">
					<div class="form-control-steps__placeholder">
						<i class="fa fa-music"></i>
					</div>
					<input type="text" class="form-control-steps" id="music-title" name="music_title" placeholder="Título" required>
				</div>
			</div><!-- .col-md-6 -->
		</div><!-- .form-row -->
		<label class="form-steps__title" for="music-desc">Descripción</label>
		<div class="form-control-steps__container {{#if backstore}}mb-3{{/if}}">
			<div class="form-control-steps__placeholder">
				<i class="fa fa-user"></i>
			</div>
			<input type="text" class="form-control-steps" id="music-desc" name="music_desc" placeholder="Descripción de la pista" required>
		</div>
		{{#if backstore}}
		<label class="form-steps__title" for="music-price">Precio</label>
		<div class="form-control-steps__container">
			<div class="form-control-steps__placeholder">
				<i class="fa fa-coins"></i>
			</div>
			<input type="number" class="form-control-steps" id="music-price" name="music_price_sinigv" placeholder="Precio de la pista" required>
			
		</div>
			<br><label>IGV (18%) = $<span id="igv"></span></label><br>
			<label>Total = $<span id="total"></span></label>
			<input type="number" class="form-control-steps" id="total_" name="music_price"  hidden>
		{{/if}}
		<button type="button" class="btn btn-primary btn-x-lg form-steps__btn" disabled>Siguiente <i class="fa fa-angle-right"></i></button>
	</section>
	<!-- End Section Step -->

	
	<!-- Section Step -->
	{{#if backstore}}{{else}}
	{{> section-steps }}
	{{/if}}
	<!-- End Section Step -->
<!-- Section Step -->
	<section class="section-step" data-step-desc="Diseño">
		<div class="row">
			<div class="col-md-7">
				<div class="desing-preview">
					<div class="desing-preview__content" style="background-image: url(/assets/img/concierto-2.jpg); background-size: cover;">
						<div class="before"></div>
						<div class="watermark">
							<div class="watermark__img">
								<img src="/assets/img/logo-ba-dark.jpg" alt="BackArtist Logo" id="logo-change">
							</div>
							<div class="watermark__body">
								<h2 class="watermark__title">BackArtist</h2>
							</div>
						</div>

						<div class="drop-area" id="drop-upload-flyer">
							<input type="file" id="upload-flyer" accept="image/*" class="d-none">
							<input type="text" id="img_flyer"  class="form-control-steps" name='img_flyer' value="" hidden>
							<input type="text" id="logo_flyer"  class="form-control-steps" name='user_logo' value="" hidden>
							<div class="drop-content">
								<div class="drop-icon" id="drop-icon">
									<i class="fa fa-upload"></i>
								</div>
								<div class="info-drop">
									<label for="upload-flyer">Elije un archivo</label>
									<div id="resultado_imagen"></div>
								</div>
							</div>
							
						</div>

						<div class="music-bar">
							<button class="music-bar__icon">
								<i class="fa fa-music"></i>
							</button>

							<div class="music-bar__bar">
								<div class="music-bar__bar-status"></div>
							</div>
						</div>
					</div>
					<div class="desing-preview__aside bg-gradient" id="color_bg">
						<div class="main-gate__user">
							<div class="main-gate__user-img">
								<img src="https://st4.depositphotos.com/29453910/37778/v/600/depositphotos_377784120-stock-illustration-hand-drawn-modern-man-avatar.jpg" alt="DJ Homero">
							</div>
							<div class="main-gate__user-body text-white">
								<h2 class="main-gate__name" id ="gate-name-dj">Nombre DJ</h2>
								<p class="main-gate__user-name">@nombreDJ</p>
							</div>
						</div>
						<scrip>

						</scrip>
						<p class="main-gate__title" id="color_title">Título de la pista <label class="input-color-label" for="input-color_titulo" >
  <i class="fas fa-brush" style="margin-left: 15px; color: white;cursor: pointer;" ></i></label> </p>
								
						<p class="main-gate__desc"  id="color_descrip">Descripción de la pista <label class="input-color-label" for="input-color_descripcion">
  <i class="fas fa-brush" style="margin-left: 15px; color: white;cursor: pointer;" ></i></label></p>
						<input type="color" name="color_titulo" id="input-color_titulo" style="opacity:0" onchange="color_maingate('color_title','input-color_titulo')">
						<input type="color" name="color_descripcion" id="input-color_descripcion" style="opacity:0" onchange="color_maingate('color_descrip','input-color_descripcion')">
						<footer class="main-gate__footer">
							<div class="row align-items-center">
								<div class="col-12">
									<nav class="social-nav text-center">
										<a href="" class="social-nav__link">
											<i class="fab fa-facebook-square" style="display: none;" id="facebook-square"></i>
										</a>
										<a href="" class="social-nav__link" >
											<i class="fab fa-twitter-square" style="display: none;" id="twitter-square"></i>
										</a>
										<a href="" class="social-nav__link">
											<i class="fab fa-youtube-square" style="display: none;" id="youtube-square"></i>
										</a>
										<a href="" class="social-nav__link" >
											<i class="fab fa-soundcloud" style="display: none;" id="soundcloud-square"></i>
										</a>
										<a href="" class="social-nav__link">
											<i class="fab fa-instagram-square" style="display: none;" id="instagram-square"></i>
										</a>
										<a href="" class="social-nav__link">
											<i class="fab fa-spotify" style="display: none;" id="spotify-square"></i>
										</a>
										<a href="" class="social-nav__link">
											<i class="fab fa-deezer" style="display: none;" id="deezer-square"></i>
										</a>
										<a href="" class="social-nav__link">
											<i class="fab fa-tiktok" style="display: none;" id="tiktok-square"></i>
										</a>
										<a href="" class="social-nav__link">
											<i class="fab fa-mixcloud" style="display: none;" id="mixcloud-square"></i>
										</a>
									</nav>
								</div>
							<!--	<div class="col-12 my-1">
									<ul class="nav site-footer__nav justify-content-center">
										<li class="nav-item">
											<a class="nav-link" href="#">Enlace</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Enlace</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Enlace</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#">Enlace</a>
										</li>
									</ul>
								</div>-->
							</div>
						</footer>
					</div>
				</div>
			</div><!-- .col-md-6 -->
			<div class="col-md-5">
				<div class="form-row mb-4">
					<!--<div class="col-7">
						<div class="label" style="margin-bottom: calc(1em + 25px);">Tema:</div>
						<div class="select-plan select-plan--theme" id="select-plan" style="transform: translateY(-50%);">
							<span id="opt-1" class="select-plan__option" data-plan="claro">Claro</span>
							<span id="opt-2" class="select-plan__option active" data-plan="obscuro">Obscuro</span>
						</div>
					</div> .col-7 -->
					<div class="col-5">
						<label class="label" for="color">Color:</label>
						<div class="input-color-wrapper">
							<input type="color" name="color" id="color" onchange="color_back('color_bg','color')">
						</div>
					</div><!-- .col-7 -->
				</div><!-- .form-row -->

				<label class="checkbox-style mb-4 {{#if user.gold}}{{else}}sb-disabled{{/if}}" {{#if user.gold}}{{else}}data-swal-title="Solo disponible para usuarios Gold"{{/if}}>
					<input type="checkbox" name="show_watermarker" id="show-watermarker" {{#if user.gold}}{{else}}disabled{{/if}}>
					<span class="checkbox-style__circle"></span>
					Eliminar el logotipo de BackArtist
				</label>

				<label class="checkbox-style mb-4">
					<input type="checkbox" name="desing_social" id="desing-social" checked>
					<span class="checkbox-style__circle"></span>
					Mostrar redes sociales
				</label>

				<label class="checkbox-style mb-0 {{#if user.gold}}{{else}}sb-disabled{{/if}}" {{#if user.gold}}{{else}}data-swal-title="Solo disponible para usuarios Gold"{{/if}}>
					<input type="file" name="user_logo1" id="user-logo" class="d-none" {{#if user.gold}}{{else}}disabled{{/if}}>
					<span class="checkbox-style__circle"></span>
					Usar mi logo
				</label>
				<div id="output-user-logo"></div>
			</div><!-- col-md-6 -->
		</div><!-- .row -->
		<div id="output-upload-flyer"></div>

		<button type="button" class="btn btn-primary btn-x-lg form-steps__btn" disabled>Siguiente <i class="fa fa-angle-right"></i></button>
	</section>
	<!-- End Section Step -->
	<!-- Section Step -->
	<section class="section-step" data-step-desc="Privacidad">
		<p class="form-steps__title form-steps__title--label text-left">Selecciona la privacidad de este título</p>
		<div class="form-row">
			<div class="col mb-3">
				<label class="checkbox-style">
					<input type="radio" name="privacity" value="publico"checked id="publico_">
					<span class="checkbox-style__circle"></span>
					Público
				</label>
			</div><!-- .col -->
			<div class="col mb-3">
				<label class="checkbox-style">
					<input type="radio" name="privacity" value="programado" id="programado">
					<span class="checkbox-style__circle"></span>
					Programado
				</label>
			</div><!-- .col -->
		</div><!-- .form-row -->
		<input type="datetime-local" class="form-control-steps" id="fecha_programa" name="fecha_programa" placeholder="Inicio de validez del cupon"  autocomplete="off" disabled hidden>
		

		<label class="form-steps__title" for="gate-link">Personaliza el enlace hacia el gate</label>
		<div class="form-control-steps__container">
			<div class="form-control-steps__placeholder">
				<i class="fa fa-link"></i>
			</div>
			<input type="text" class="form-control-steps" id="gate-link" name="gate_link" placeholder="Enlace" required value="mitrack123">
			<input type="hidden" class="form-control-steps" id="chek_gate-link" name="gate_link2" placeholder="Enlace" required value="{{array}}">

		</div>
		<div id="gate-link-output" class="mt-3 text-muted text-center">
			https://josea.mosquedacordova.com/track/<span>mitrack123</span>
		</div>

		<button type="button" class="btn btn-primary btn-x-lg form-steps__btn">Siguiente <i class="fa fa-angle-right"></i></button>
	</section>
	<!-- End Section Step -->

	<!-- Section Step -->
	<section class="section-step" data-step-desc="Promoción">
		<div class="input-and-title">
			<h2 class="form-steps__title text-left">Inmediatamente después de descargar esta pista.. Desea envíar a sus fans un correo electrónico automático promocionando esta pista??:</h2>
			<select name="promotion" id="promotion" class="form-control-steps">
				<option value="default" selected>No</option>
				<option value="Si">Si</option>
			</select>
		</div>
		<button type="button" class="btn btn-primary btn-x-lg form-steps__btn">Siguiente <i class="fa fa-angle-right"></i></button>
	</section>
	<!-- End Section Step -->

	<!-- Section Step -->
	<section class="section-step" data-step-desc="Confirma">
		<h2 class="title-darken">Confirmación</h2>
		<div class="confirmation-card">
			<div class="confirmation-card__banner">
				<img src="https://previews.123rf.com/images/paulcarft/paulcarft1707/paulcarft170700057/81966316-folleto-del-festival-de-m%C3%BAsica-rock-ilustracion-vectorial-p%C3%B3ster.jpg" alt="Título de la música">
			</div>
			<div class="confirmation-card__body">
				<ul id="confirmation-list">
					<li>Artista: <span>Homero</span></li>
					<li>Título: <span>Triller</span></li>
					<li>Descripción: <span>Música genial!</span></li>
					<li>Fuente: <span>https://exmaple.com</span></li>
					<li>Género: <span>POP</span></li>
					<li>Enlace: <span id="p1">https://backartishost/track/mitrack123</span><button onclick="copyToClipboard('#p1')">Copiar P1</button></li>
				</ul>
			</div>
		</div>
		<button type="button" class="btn btn-primary btn-x-lg form-steps__btn" id="create-gate-btn">Crear Gate <i class="fa fa-check"></i></button>
	</section>
	<!-- End Section Step -->
</form>