{{> header }}
	<!-- Dashboard Header -->
	<style>
		.dropdown-menu li{
			padding-left: 8px;
			padding-right: 8px;
		}
	</style>
		<section>

			{{{ body }}}
			
		</section><!-- .col-md-7 -->
		{{#if publicaciones_landing}}{{else}}
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="{{#if dash_cliente}}/dash_cliente{{else}}/dashboard{{/if}}">
					<img src="../assets/img/logo_fondo_claro.png" width="140">
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar" style="text-align: left;">
					<ul class="list-unstyled navbar__list">
						<li {{#if dashboard}}class="active"{{/if}}><a href="{{#if dash_cliente}}/dash_cliente{{else}}/dashboard{{/if}}"><i class="fa fa-th-large"></i>Dashboard</a></li>
						<li {{#if micuenta}}class="active"{{/if}}><a href="/micuenta"><i class="fas fa-dollar-sign"></i>Mi Cuenta</a></li>
						
						{{#if dash_cliente}}
						<li {{#if miscompras}}class="active"{{/if}}><a href="/miscompras"><i class="fas fa-dollar-sign"></i>Mis compras</a></li>
						<li><a href="/close-session"><i class="fas fa-power-off"></i>Cerrar Sesión </a></li>
						</ul>{{else}}
						<li {{#if minegocio}}class="has-sub active"{{/if}}><a class="js-arrow" href="/minegocio"><i class="fa fa-clipboard"></i>{{#if admin}}Negocios{{else}}Mi Negocio{{/if}} </a>
						</li>
						<li class="has-sub"><a href="/{{#if admin}}wallet{{else}}pagos_negocio{{/if}}"><i class="fa fa-credit-card"></i>{{#if admin}}Pagos{{else}}Mi Billetera{{/if}}</a></li>
						<li {{#if ventas}}class="has-sub active"{{/if}}><a href="/ventas"><i class="fa fa-shopping-cart"></i>{{#if admin}}Ventas{{else}}Mis Ventas{{/if}}</a></li>
					{{#if admin}}{{else}}	<li {{#if mispublicaciones}}class="has-sub active"{{/if}}><a href="/mispublicaciones"><i class="fa fa-tasks"></i>Mis Publicaciones</a></li>
						<!--<li><a href="#"><i class="fa fa-info-circle"></i>Mis Calificaciones</a></li>
						<li><a href="#"><i class="fa fa-book"></i>Reportes</a></li>-->{{/if}}
{{#if admin}}

<ul class="dropdown">
  <button class="has-sub" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <i class="fa fa-tasks"></i> Administrador
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="padding-left: 5px;">
	  <li {{#if terminos}}class="dropdown-item active"{{/if}}><a href="/terminos"> <i class="fas fa-clipboard-list"></i>Términos y políticas</a></li>
	  <li {{#if categorias}}class="dropdown-item active"{{/if}}><a href="/categorias"> <i class="fas fa-tags"></i>Categorias</a></li>
	  <li {{#if config}}class="dropdown-item active"{{/if}}><a href="/configuraciones"> <i class="fas fa-user-cog"></i>Configuraciones</a></li>
	  <li {{#if cupones}}class="dropdown-item active"{{/if}}><a href="/cupones"> <i class="fas fa-gift"></i>Cupones</a></li>
	  <li {{#if public}}class="dropdown-item active"{{/if}}><a href="/publicidad"> <i class="fas fa-bullhorn"></i>Publicidad</a></li>
	  
	  <li {{#if usuariosA}}class="dropdown-item active"{{/if}}><a href="/usuarios_a"> <i class="fas fa-user"></i>Usuarios</a></li>
  </div>
</ul>
	{{/if}}					

						
						<li><a href="/close-session"><i class="fas fa-power-off"></i>Cerrar Sesión </a></li>
					</ul>{{/if}}
				</nav>
			</div>
		</aside>
		{{/if}}
		<!-- .col-md-3 -->
	</main><!-- .container -->
{{> footer }}